
{% block header %}
  {% include "includes/newheader.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
    
    <div style=" max-width:1300px; margin: 0 auto;">

        <div style=" max-width:1300px;  min-width:1300px;  margin: 0px 0px 0px 0px;  ">

            <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 0px;">
                        

                <div class="govuk-width-container" style="margin-left: 80px">

                    <main class="" id="main-content" role="main">

                        <div class="govuk-grid-row">

                          <!--
                          <div class="govuk-grid-column-two-thirds">
                          -->

                          <div class="govuk-grid-column-full">

                            <div>

                              <a href="javascript:history.back()" class="govuk-back-link">Back</a>

                              <br><br>                                          

                                <div class="govuk-grid-row">
                                    <form class="form" action="link_hearings_8" method="post">

                                        <div class="govuk-grid-column-full">

                                            <span class="govuk-caption-l">Request a hearing for Smith vs Peterson 1234-5678-9012-3456</span>
                                            
                                            <h1 class="govuk-heading-l">
                                                Do you want a specific judge?
                                            </h1>

                                            

                                            <form class="form" action="hearing-panel" method="post">

                                                <div class="govuk-form-group govuk-!-margin-top-5">

                                                    <fieldset class="govuk-fieldset">

                                                        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                                                            <div class="govuk-radios__item">
                                                                <input class="govuk-radios__input" id="specificjudge-1" name="specificjudge" type="radio" value="Yes" data-aria-controls="conditional-judge" >
                                                                <label class="govuk-label govuk-radios__label" for="specificjudge-1">
                                                                    Yes
                                                                </label>
                                                            </div>

                                                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-judge">
                                                                <div class="govuk-form-group govuk-!-width-one-half">
                                                                    <label class="govuk-label govuk-!-font-weight-bold" for="judgename-container">
                                                                        Name of the judge
                                                                    </label>
                                                                    <div id="judgename-container"></div>
                                                                </div>
                                                            </div>

                                                            <div class="govuk-radios__item">
                                                                <input class="govuk-radios__input" id="specificjudge-2" name="specificjudge" type="radio" value="No" data-aria-controls="conditional-judge-type" >
                                                                <label class="govuk-label govuk-radios__label" for="specificjudge-2">
                                                                    No
                                                                </label>
                                                            </div>

                                                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-judge-type">
                                                                <div class="govuk-form-group">
                                                                    <fieldset class="govuk-fieldset">
                                                                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                                                            <h1 class="govuk-fieldset__heading">
                                                                                Select all judge types that apply
                                                                            </h1>
                                                                        </legend>
                                                                        <div class="govuk-form-group" id="facilitiesList">
                                                                            <fieldset class="govuk-fieldset">
                                                                                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                                                                    <div class="govuk-checkboxes__item">
                                                                                        <input class="govuk-checkboxes__input" id="judgecontract1" name="judgecontract" type="checkbox" value="Tribunal Judge">
                                                                                        <label class="govuk-label govuk-checkboxes__label" for="judgecontract1" >
                                                                                            Tribunal Judge
                                                                                        </label>
                                                                                    </div>
                                                                                    <div class="govuk-checkboxes__item">
                                                                                        <input class="govuk-checkboxes__input" id="judgecontract2" name="judgecontract" type="checkbox" value="Deputy Tribunal Judge">
                                                                                        <label class="govuk-label govuk-checkboxes__label" for="judgecontract2" >
                                                                                            Deputy Tribunal Judge
                                                                                        </label>
                                                                                    </div>
                                                                                    <div class="govuk-checkboxes__item">
                                                                                        <input class="govuk-checkboxes__input" id="judgecontract3" name="judgecontract" type="checkbox" value="Regional Tribunal Judge">
                                                                                        <label class="govuk-label govuk-checkboxes__label" for="judgecontract3" >
                                                                                            Regional Tribunal Judge
                                                                                        </label>
                                                                                    </div>
                                                                                </div>
                                                                            </fieldset>
                                                                        </div>
                                                                    </fieldset>
                                                                </div>
                                    <!--                            <div class="govuk-form-group">-->
                                    <!--                                <br>-->
                                    <!--                                <fieldset class="govuk-fieldset">-->
                                    <!--                                    <legend class="govuk-fieldset__legend  govuk-fieldset__legend&#45;&#45;s ">-->
                                    <!--                                        Select a judge type (optional)-->
                                    <!--                                    </legend>-->
                                    <!--                                    <div class="govuk-radios">-->
                                    <!--                                        <div class="govuk-radios__item">-->
                                    <!--                                            <input class="govuk-radios__input" id="judgecontract1" name="judgecontract" type="radio" value="All" checked  >-->
                                    <!--                                            <label class="govuk-label govuk-radios__label" for="judgecontract1">-->
                                    <!--                                                All-->
                                    <!--                                            </label>-->
                                    <!--                                        </div>-->
                                    <!--                                        <div class="govuk-radios__item">-->
                                    <!--                                            <input class="govuk-radios__input" id="judgecontract2" name="judgecontract" type="radio" value="Tribunal Judge - salaried"   >-->
                                    <!--                                            <label class="govuk-label govuk-radios__label" for="judgecontract2">-->
                                    <!--                                                Tribunal Judge-->
                                    <!--                                            </label>-->
                                    <!--                                        </div>-->
                                    <!--                                        <div class="govuk-radios__item">-->
                                    <!--                                            <input class="govuk-radios__input" id="judgecontract3" name="judgecontract" type="radio" value="Tribunal Judge - fee-paid"  >-->
                                    <!--                                            <label class="govuk-label govuk-radios__label" for="judgecontract3">-->
                                    <!--                                                Deputy Tribunal Judge-->
                                    <!--                                            </label>-->
                                    <!--                                        </div>-->
                                    <!--                                        <div class="govuk-radios__item">-->
                                    <!--                                            <input class="govuk-radios__input" id="judgecontract4" name="judgecontract" type="radio" value="Regional Tribunal Judge"  >-->
                                    <!--                                            <label class="govuk-label govuk-radios__label" for="judgecontract4">-->
                                    <!--                                                Regional Tribunal Judge-->
                                    <!--                                            </label>-->
                                    <!--                                        </div>-->
                                    <!--                                    </div>-->
                                    <!--                                </fieldset>-->
                                    <!--                            </div>-->
                                                            </div>
                                                        </div>

                                                    </fieldset>

                                                </div>

                                                <div class="govuk-form-group" id="excluejudge">

                                                    <div class="govuk-form-group" >
                                                        <label class="govuk-label govuk-!-font-weight-bold" for="excludeJ1">
                                                            Exclude a judge (optional)
                                                        </label>
                                                        <div class="govuk-form-group">
                                                          <input class="govuk-input govuk-!-width-two-thirds" id="two-thirds" name="two-thirds" type="text">
                                                        </div>
                                                        <div class="govuk-button govuk-button--secondary" data-module="govuk-button" id="exludeanotherjudge">Exclude another judge</div>
                                                    </div>


                                                </div>

                                                <button class="govuk-button" data-module="govuk-button">Continue</button>

                                            </form>






                              <p style="padding: 0 0 2em 0;"></p>

                            </div>

                          </div>

                        </div>

                    </main>

                </div>

            </main>

        </div>

    </div>

  </div>

</body>

</html>


{% block footer %}
  {% include "includes/newfooter.html" %}
{% endblock %}
        