
{% block header %}
  {% include "includes/newheader.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
    
    <div style=" max-width:1300px; margin: 0 auto;">

        <div style=" max-width:1300px;  min-width:1300px;  margin: 0px 0px 0px 0px;  ">

            <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 0px;">
                        

                <div class="govuk-width-container" style="margin-left: 80px">

                    <main class="" id="main-content" role="main">

                        <div class="govuk-grid-row">

                          <!--
                          <div class="govuk-grid-column-two-thirds">
                          -->

                          <div class="govuk-grid-column-full">

                            <div>

                              <a href="javascript:history.back()" class="govuk-back-link">Back</a>

                              <br><br>                                          

                                <div class="govuk-grid-row">
                                    <form class="form" action="link_hearings_3" method="post">

                                        <div class="govuk-grid-column-full">

                                            <span class="govuk-caption-l">Request a hearing for Smith vs Peterson 1234-5678-9012-3456</span>
                                            <h1 class="govuk-heading-l">
                                                Hearing requirements
                                            </h1>

                                            

                                            <p class="govuk-body govuk-!-margin-bottom-2">Personal Independence Payment</p>
                                            <ul class="govuk-list govuk-list--bullet">
                                                <li>Conditions of Entitlement</li>
                                                <li>Good cause</li>
                                                <li>Rate of Assessment / Payability Issues - complex</li>
                                            </ul>

                                            <div class="govuk-inset-text">
                                                Any reasonable adjustments on this page will be included in the hearing request.
                                            </div>

                                            
                                            <!-- Case flags table -->
                                            <div class="govuk-form-group">

                                                <table class="govuk-table">
                                                    <thead class="govuk-table__head">
                                                    <tr class="govuk-table__row">
                                                        <th scope="col" class="govuk-table__header" width="300">Jane Smith</th>
                                                        <th scope="col" class="govuk-table__header" width="550">Comments</th>
                                                        <th scope="col" class="govuk-table__header" width="100">Flag status</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody class="govuk-table__body">
                                                    <tr class="govuk-table__row">
                                                        <td class="govuk-table__cell">
                                                            Sign language<br />
                                                            British Sign Language (BSL)
                                                        </td>
                                                        <td class="govuk-table__cell"></td>
                                                        <td class="govuk-table__cell">
                                                            <strong class="govuk-tag">Active</strong>
                                                        </td>
                                                    </tr>
                                                    <tr class="govuk-table__row">
                                                        <td class="govuk-table__cell">Wheel chair access</td>
                                                        <td class="govuk-table__cell"></td>
                                                        <td class="govuk-table__cell">
                                                            <strong class="govuk-tag">Active</strong>
                                                        </td>
                                                    </tr>
                                <!--                    <tr class="govuk-table__row">-->
                                <!--                        <td class="govuk-table__cell">Reasonable adjustment</td>-->
                                <!--                        <td class="govuk-table__cell">Hearing loop required</td>-->
                                <!--                        <td class="govuk-table__cell">-->
                                <!--                            <strong class="govuk-tag">Active</strong>-->
                                <!--                        </td>-->
                                <!--                    </tr>-->
                                                    </tbody>
                                                </table>

                                                

                                            </div>
                                            
                                            <p class="govuk-body">Review <a href="">case flags and reasonable adjustments (opens in new tab)</a> if you need to make any changes.</p>
                                        </div>

                                        <div class="govuk-grid-column-two-thirds govuk-!-margin-top-4">

                                            <button class="govuk-button" data-module="govuk-button">Continue</button>

                                        </div>
                                    </form>
                                </div>




                              <p style="padding: 0 0 2em 0;"></p>

                            </div>

                          </div>

                        </div>

                    </main>

                </div>

            </main>

        </div>

    </div>

  </div>

</body>

</html>


{% block footer %}
  {% include "includes/newfooter.html" %}
{% endblock %}
        