
{% block header %}
  {% include "includes/newheader.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
    
    <div style=" max-width:1300px; margin: 0 auto;">

        <div style=" max-width:1300px;  min-width:1300px;  margin: 0px 0px 0px 0px;  ">

            <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 0px;">
                        

                <div class="govuk-width-container" style="margin-left: 80px">

                    <main class="" id="main-content" role="main">

                        <div class="govuk-grid-row">

                          <div class="govuk-grid-column-full">

                          <!--
                          <div class="govuk-grid-column-full">
                          -->

                            <div>

                              <a href="javascript:history.back()" class="govuk-back-link">Back</a>

                              <br><br>                                          

                              <div class="govuk-grid-row">
                                 <div class="govuk-grid-column-full">

                                    <span class="govuk-caption-l">Link hearings for Smith vs Peterson 1234-5678-9012-3456</span>
                                            
                                    <h1 class="govuk-heading-l">How the linked hearings should be heard?</h1>

                                    <div class="govuk-form-group">
                                      <fieldset class="govuk-fieldset">
                                        <div class="govuk-radios">
                                          <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
                                            <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                                              Linked hearings should be heard together
                                            </label>
                                          </div>
                                          <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland" onClick="window.location = 'link_hearings_23.html';">
                                            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                                              Linked hearings need to be heard in a specific order
                                            </label>
                                          </div>
                                          <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                                            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                                              Linked hearings need to be heard but not in a specific order
                                            </label>
                                          </div>
                                        </div>
                                      </fieldset>
                                    </div>
                                            
                                    <p style="padding: 0 0 0.1em 0;"></p>

                                    <div>
                                        <a href="#"><button class="govuk-button" data-module="govuk-button">Continue</button></a>
                                    </div>

                                 <p style="padding: 0 0 2em 0;"></p>

                                 </div>

                              </div>

                          </div>

                        </div>

                    </main>

                </div>

            </main>

        </div>

    </div>

  </div>

</body>

</html>


{% block footer %}
  {% include "includes/newfooter.html" %}
{% endblock %}
        