
{% block header %}
  {% include "includes/newheader.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
    
    <div style=" max-width:1300px; margin: 0 auto;">

        <div style=" max-width:1300px;  min-width:1300px;  margin: 0px 0px 0px 0px;  ">

            <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 0px;">
                        

                <div class="govuk-width-container" style="margin-left: 80px">

                    <main class="" id="main-content" role="main">

                        <div class="govuk-grid-row">

                          <div class="govuk-grid-column-two-thirds">

                            <div>

                              <a href="javascript:history.back()" class="govuk-back-link">Back</a>

                              <span class="govuk-caption-l" style="padding-top: 20px;">Create a new case</span>

                              <h1 class="govuk-heading-xl" style="margin-bottom: 30px;">Case details</h1>

                              <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                                <div class="govuk-notification-banner__content">
                                  <h3 class="govuk-notification-banner__heading">
                                    Case ID 1234-5678-9012-3456 has been generated. 
                                  </h3>
                                  <p class="govuk-body">Complete the following case details in order to save the case.</p>
                                </div>
                              </div>

                              <div class="govuk-form-group">
                                <label class="govuk-label" for="sort" style="padding-bottom: 5px;">
                                  <strong>Why you want to create this case? </strong>
                                </label>
                                <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                              </div>

                              <div class="govuk-form-group">
                                <label class="govuk-label" for="sort" style="padding-bottom: 5px;">
                                  <strong>Detail 1</strong>
                                </label>
                                <input class="govuk-input" id="event-name" name="event-name" type="text">
                              </div>

                              <div class="govuk-form-group">
                                <label class="govuk-label" for="sort">
                                  <strong>Detail 2 </strong>
                                </label>
                                <div id="passport-issued-hint" class="govuk-hint">
                                  For example, 27 3 2007
                                </div>
                                <div class="govuk-date-input" id="passport-issued">
                                  <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                      <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                        Day
                                      </label>
                                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                                  </div>
                                  <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                      <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                        Month
                                      </label>
                                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                                  </div>
                                  <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                      <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                        Year
                                      </label>
                                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                                  </div>
                                </div>
                              </div>

                              <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset">
                                  <legend class="govuk-fieldset__legend">
                                    <strong>Detail 3</strong>
                                  </legend>
                                  <div class="govuk-radios">
                                    <div class="govuk-radios__item">
                                      <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
                                      <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                                        Option A
                                      </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                      <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                                      <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                                        Option B
                                      </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                      <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
                                      <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                                        Option C
                                      </label>
                                    </div>
                                  </div>
                                </fieldset>
                              </div>

                              <p style="padding: 0 0 0.1em 0;"></p>

                              <div>
                                <a href="link_cases_create_case_3.html"><button class="govuk-button" data-module="govuk-button">Continue</button></a>
                              </div>

                              <p style="padding: 0 0 2em 0;"></p>

                            </div>

                          </div>

                        </div>

                    </main>

                </div>

            </main>

        </div>

    </div>

  </div>

</body>

</html>


{% block footer %}
  {% include "includes/newfooter.html" %}
{% endblock %}
        