
{% block header %}
  {% include "includes/newheader.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
    
    <div style=" max-width:1300px; margin: 0 auto;">

        <div style=" max-width:1300px;  min-width:1300px;  margin: 0px 0px 0px 0px;  ">

            <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 0px;">
                        

                <div class="govuk-width-container" style="margin-left: 80px">

                    <main class="" id="main-content" role="main">

                        <div class="govuk-grid-row">

                          <div class="govuk-grid-column-two-thirds">

                            <div>

                              <a href="javascript:history.back()" class="govuk-back-link">Back</a>

                              <span class="govuk-caption-l" style="padding-top: 20px;">Link cases</span>

                              <h1 class="govuk-heading-xl" style="margin-bottom: 30px;">Which case is the lead case?</h1>

                              <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset">
                                  <div class="govuk-radios">
                                    <div class="govuk-radios__item">
                                      <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                                      <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                                        4652-7249-0269-6213
                                      </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                      <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
                                      <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                                        5283-8196-7254-2864
                                      </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                      <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
                                      <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
                                        8254-9025-7233-6147
                                      </label>
                                    </div>
                                  </div>
                                </fieldset>
                              </div>

                              <p style="padding: 0 0 0.1em 0;"></p>

                              <div>
                                <a href="link_cases_create_case_16.html"><button class="govuk-button" data-module="govuk-button">Continue</button></a>
                              </div>

                              <p style="padding: 0 0 2em 0;"></p>

                            </div>

                          </div>

                        </div>

                    </main>

                </div>

            </main>

        </div>

    </div>

  </div>

</body>

</html>


{% block footer %}
  {% include "includes/newfooter.html" %}
{% endblock %}
        