
{% block header %}
  {% include "includes/newheader.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
    
    <div style=" max-width:1300px; margin: 0 auto;">

        <div style=" max-width:1300px;  min-width:1300px;  margin: 0px 0px 0px 0px;  ">

            <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 0px;"> 

                <div class="govuk-width-container" style="margin-left: 80px">

                              <div class="govuk-width-container">
                                <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
                                  <div class="govuk-grid-row">
                                    <div class="govuk-grid-column-two-thirds">
                                      <div class="govuk-panel govuk-panel--confirmation">
                                        <h1 class="govuk-panel__title">
                                          You linked 3 cases sucessfully
                                        </h1>
                                        <!--
                                        <div class="govuk-panel__body">
                                          Case ID: 4652-7249-0269-6213
                                        </div>
                                        -->
                                      </div>

                                      <!--
                                      <p class="govuk-body">We have sent you a confirmation email.</p>
                                      -->

                                      <br>

                                      <h2 class="govuk-heading-m">What happens next</h2>

                                      <p class="govuk-body">
                                        You can <a href="#" class="govuk-link govuk-link--no-visited-state">link more cases</a> or 
                                        <a href="link_cases_21.html" class="govuk-link govuk-link--no-visited-state">return to the case</a>.
                                      </p>

                                      <!--
                                      <p class="govuk-body">
                                       You can return to <a href="#" class="govuk-link govuk-link--no-visited-state">My Work</a>.
                                      </p>
                                      -->


                                    </div>
                                  </div>
                                </main>
                              </div>

            </main>

        </div>

    </div>

  </div>

</body>

</html>


{% block footer %}
  {% include "includes/newfooter.html" %}
{% endblock %}
        