
{% block header %}
  {% include "includes/newheader.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
    
    <div style=" max-width:1300px; margin: 0 auto;">

        <div style=" max-width:1300px;  min-width:1300px;  margin: 0px 0px 0px 0px;  ">

            <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 0px;">
                        

                <div class="govuk-width-container" style="margin-left: 80px">

                    <main class="" id="main-content" role="main">

                        <div class="govuk-grid-row">

                          <div class="govuk-grid-column-two-thirds">

                          <!--
                          <div class="govuk-grid-column-full">
                          -->

                            <div>

                              <a href="javascript:history.back()" class="govuk-back-link">Back</a>

                              <br><br>                                          

                              <div class="govuk-grid-row">
                                 <div class="govuk-grid-column-full">

                                    <span class="govuk-caption-l">Request a hearing for Jane Smith vs DWP</span>
                                            
                                    <h1 class="govuk-heading-l">How the linked hearins should be heard?</h1>

                                    <div class="govuk-form-group">
                                      <fieldset class="govuk-fieldset">
                                        <div class="govuk-radios">
                                          <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
                                            <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                                              Linked hearings should be heard together
                                            </label>
                                          </div>
                                          <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland" checked>
                                            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                                              Linked hearings need to be heard in a specific order
                                            </label>
                                          </div>

                                          <div class="govuk-radios__conditional" id="conditional-contact-3">
                                            <div class="govuk-form-group">
                                              <label class="govuk-label" for="contact-by-text" style="margin-bottom: 0px;">
                                                <strong>What order should the hearings be heard in?</strong>
                                              </label>

                                              <br>

                                              <div class="govuk-form-group govuk-input__wrapper" style="margin-bottom: 10px;">
                                                <select class="govuk-select" id="sort" name="sort">
                                                  <option value="1" selected>1</option>
                                                  <option value="2">2</option>
                                                  <option value="3">3</option>
                                                  <option value="4">4</option>
                                                </select>
                                                &nbsp;&nbsp;&nbsp;
                                                <label class="govuk-label" for="sort" style="padding-top: 7px;">
                                                  1234-5678-9012-3456
                                                </label>
                                              </div>

                                              <div class="govuk-form-group govuk-input__wrapper" style="margin-bottom: 10px;">
                                                <select class="govuk-select" id="sort" name="sort">
                                                  <option value="1">1</option>
                                                  <option value="2" selected>2</option>
                                                  <option value="3">3</option>
                                                  <option value="4">4</option>
                                                </select>
                                                &nbsp;&nbsp;&nbsp;
                                                <label class="govuk-label" for="sort" style="padding-top: 7px;">
                                                  4652-7249-0269-6213
                                                </label>
                                              </div>

                                              <div class="govuk-form-group govuk-input__wrapper" style="margin-bottom: 10px;">
                                                <select class="govuk-select" id="sort" name="sort">
                                                  <option value="1">1</option>
                                                  <option value="2">2</option>
                                                  <option value="3" selected>3</option>
                                                  <option value="4">4</option>
                                                </select>
                                                &nbsp;&nbsp;&nbsp;
                                                <label class="govuk-label" for="sort" style="padding-top: 7px;">
                                                  5283-8196-7254-2864
                                                </label>
                                              </div>

                                              <div class="govuk-form-group govuk-input__wrapper" style="margin-bottom: 10px;">
                                                <select class="govuk-select" id="sort" name="sort">
                                                  <option value="1">1</option>
                                                  <option value="2">2</option>
                                                  <option value="3">3</option>
                                                  <option value="4" selected>4</option>
                                                </select>
                                                &nbsp;&nbsp;&nbsp;
                                                <label class="govuk-label" for="sort" style="padding-top: 7px;">
                                                  8254-9025-7233-6147
                                                </label>
                                              </div>

                                            </div>
                                          </div>

                                        </div>
                                      </fieldset>
                                    </div>
                                          

                                    <div>
                                        <a href="link_hearings_14.html"><button class="govuk-button" data-module="govuk-button">Continue</button></a>
                                    </div>

                                 <p style="padding: 0 0 2em 0;"></p>

                                 </div>

                              </div>

                          </div>

                        </div>

                    </main>

                </div>

            </main>

        </div>

    </div>

  </div>

</body>

</html>


{% block footer %}
  {% include "includes/newfooter.html" %}
{% endblock %}
        