
{% block header %}
  {% include "includes/newheader.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
    
    <div style=" max-width:1300px; margin: 0 auto;">

        <div style=" max-width:1300px;  min-width:1300px;  margin: 0px 0px 0px 0px;  ">

            <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 0px;">
                        

                <div class="govuk-width-container" style="margin-left: 80px">

                    <main class="" id="main-content" role="main">

                        <div class="govuk-grid-row">

                          <div class="govuk-grid-column-two-thirds">

                            <div>

                              <a href="javascript:history.back()" class="govuk-back-link">Back</a>

                              <span class="govuk-caption-l" style="padding-top: 20px;">Create a new case</span>

                              <h1 class="govuk-heading-xl" style="margin-bottom: 20px;">Select cases to link</h1>

                              <div id="waste-hint" class="govuk-hint">
                                Select all that apply.
                              </div>
                              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                  <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                                  <label class="govuk-label govuk-checkboxes__label" for="waste">
                                    Case 1
                                  </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                  <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                                  <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                                    Case 2
                                  </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                  <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                                  <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                                    Case 3
                                  </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                  <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                                  <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                                    Case 4
                                  </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                  <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                                  <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                                    Case 5
                                  </label>
                                </div>
                              </div>

                              <p style="padding: 0 0 2em 0;"></p>

                              <div>
                                <a href="link_cases_create_case_5.html"><button class="govuk-button" data-module="govuk-button">Continue</button></a>
                              </div>

                              <p style="padding: 0 0 2em 0;"></p>

                            </div>

                          </div>

                        </div>

                    </main>

                </div>

            </main>

        </div>

    </div>

  </div>

</body>

</html>


{% block footer %}
  {% include "includes/newfooter.html" %}
{% endblock %}
        