
{% block header %}
  {% include "includes/newheader.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
    
    <div style=" max-width:1300px; margin: 0 auto;">

        <div style=" max-width:1300px;  min-width:1300px;  margin: 0px 0px 0px 0px;  ">

            <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 0px;">
                        

                <div class="govuk-width-container" style="margin-left: 80px">

                    <main class="" id="main-content" role="main">

                        <div class="govuk-grid-row">

                          <div class="govuk-grid-column-two-thirds">

                          <!--
                          <div class="govuk-grid-column-full">
                          -->

                            <div>

                              <a href="javascript:history.back()" class="govuk-back-link">Back</a>

                              <br><br>                                          

                              <div class="govuk-grid-row">
                                 <div class="govuk-grid-column-full">

                                    <span class="govuk-caption-l">Request a hearing for Jane Smith vs DWP</span>
                                            
                                    <!--

                                    <h1 class="govuk-heading-l">Select hearings to link</h1>

                                    <br>

                                      <h3 class="govuk-heading-s" style="margin-bottom: 10px;">Enter case number</h3>

                                      <div class="govuk-form-group" style="margin-bottom: 10px;">
                                        <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
                                      </div>

                                      <br><br>

                                      <h3 class="govuk-heading-s" style="margin-bottom: 10px;">Select reasons to link this case</h3>

                                      <div id="waste-hint" class="govuk-hint">
                                        Select all that apply.
                                      </div>
                                      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                        <div class="govuk-checkboxes__item">
                                          <input class="govuk-checkboxes__input" id="1" name="waste" type="checkbox" value="carcasses">
                                          <label class="govuk-label govuk-checkboxes__label" for="waste">
                                            Linked for a hearing
                                          </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                          <input class="govuk-checkboxes__input" id="2" name="waste" type="checkbox" value="mines">
                                          <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                                            Other appeal decided
                                          </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                          <input class="govuk-checkboxes__input" id="3" name="waste" type="checkbox" value="farm">
                                          <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                                            Other appeal pending
                                          </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                          <input class="govuk-checkboxes__input" id="4" name="waste" type="checkbox" value="mines">
                                          <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                                            Home Office request
                                          </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                          <input class="govuk-checkboxes__input" id="5" name="waste" type="checkbox" value="farm">
                                          <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                                            Bail
                                          </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                          <input class="govuk-checkboxes__input" id="7" name="waste" type="checkbox" value="farm">
                                          <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                                            Guardian
                                          </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                          <input class="govuk-checkboxes__input" id="8" name="waste" type="checkbox" value="farm">
                                          <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                                            Shared evidence
                                          </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                          <input class="govuk-checkboxes__input" id="9" name="waste" type="checkbox" value="farm">
                                          <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                                            Familial
                                          </label>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                          <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email" data-aria-controls="conditional-contact">
                                          <label class="govuk-label govuk-checkboxes__label" for="contact">
                                                Other
                                          </label>
                                        </div>
                                        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact">
                                          <div class="govuk-form-group">
                                            <label class="govuk-label" for="contact-by-email">
                                                  Enter the reason
                                            </label>
                                            <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contact-by-email" type="email" spellcheck="false" autocomplete="email">
                                          </div>
                                        </div>

                                      </div>

                                      <br><br>

                                      <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Add to linked hearings list</button>

                                      <br><br>

                                      <hr style="border-color: #000000;border-width: 1px;">

                                      <br><br>

                                      <table class="govuk-table">
                                        <caption class="govuk-table__caption govuk-table__caption--m">Linked hearings list</caption>
                                        <thead class="govuk-table__head">
                                          <tr class="govuk-table__row">
                                            <th scope="col" class="govuk-table__header" width="230px">Case number</th>
                                            <th scope="col" class="govuk-table__header">Reasons</th>
                                            <th scope="col" class="govuk-table__header" width="50px"> </th>
                                          </tr>
                                        </thead>
                                        <tbody class="govuk-table__body">
                                          <tr class="govuk-table__row">
                                            <th scope="row" class="govuk-table__header">Jane vs DWP<br>4652-7249-0269-6213</th>
                                            <td class="govuk-table__cell">Linked for a hearing</td>
                                            <td class="govuk-table__cell"><a href="#">Remove</a></td>
                                          </tr>
                                          <tr class="govuk-table__row">
                                            <th scope="row" class="govuk-table__header">Jane vs DWP<br>5283-8196-7254-2864</th>
                                            <td class="govuk-table__cell">Linked for a hearing</td>
                                            <td class="govuk-table__cell"><a href="#">Remove</a></td>
                                          </tr>
                                          <tr class="govuk-table__row">
                                            <th scope="row" class="govuk-table__header">Jane vs DWP<br>8254-9025-7233-6147</th>
                                            <td class="govuk-table__cell">Linked for a hearing <br>Guardian <br>Familial</td>
                                            <td class="govuk-table__cell"><a href="#">Remove</a></td>
                                          </tr>
                                        </tbody>
                                      </table>

                                    -->

                                    <h1 class="govuk-heading-l">Select hearings to link</h1>

                                      <!--

                                      <h3 class="govuk-heading-s" style="margin-bottom: 10px;">Enter case number</h3>

                                      <div class="govuk-form-group" style="margin-bottom: 10px;">
                                        <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
                                      </div>

                                      <br>

                                      <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Add to linked hearings</button>

                                      -->

                                      <div class="govuk-form-group" style="margin-bottom: 0px;">
                                        <label class="govuk-heading-s" for="width-20">
                                          Enter the case number that you want to link
                                        </label>
                                        <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
                                        &nbsp;
                                        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                                          Add
                                        </button>
                                      </div>

                                      <br>

                                      <hr style="border-color: #000000;border-width: 1px;">

                                      <br><br>


                                      <table class="govuk-table">
                                        <caption class="govuk-table__caption govuk-table__caption--s">Linked cases to Jane Smith vs DWP</caption>
                                        <thead class="govuk-table__head">
                                          <tr class="govuk-table__row">
                                            <th scope="col" class="govuk-table__header" width="600px"> </th>
                                            <th scope="col" class="govuk-table__header" width="80px"> </th>
                                          </tr>
                                        </thead>
                                        <tbody class="govuk-table__body">
                                          <tr class="govuk-table__row">
                                            <td scope="row" class="govuk-table__cell">Jane vs DWP &nbsp;-&nbsp; 4652-7249-0269-6213</td>
                                            <td class="govuk-table__cell"><a href="#">Remove</a></td>
                                          </tr>
                                          <tr class="govuk-table__row">
                                            <td scope="row" class="govuk-table__cell">Jane vs DWP &nbsp;-&nbsp; 5283-8196-7254-2864</td>
                                            <td class="govuk-table__cell"><a href="#">Remove</a></td>
                                          </tr>
                                          <tr class="govuk-table__row">
                                            <td scope="row" class="govuk-table__cell">Jane vs DWP &nbsp;-&nbsp; 8254-9025-7233-6147</td>
                                            <td class="govuk-table__cell"><a href="#">Remove</a></td>
                                          </tr>
                                        </tbody>
                                      </table>



                                            
                                    <p style="padding: 0 0 0.1em 0;"></p>

                                    <div>
                                        <a href="link_hearings_12.html"><button class="govuk-button" data-module="govuk-button">Continue</button></a>
                                    </div>

                                 <p style="padding: 0 0 2em 0;"></p>

                                 </div>

                              </div>

                          </div>

                        </div>

                    </main>

                </div>

            </main>

        </div>

    </div>

  </div>

</body>

</html>


{% block footer %}
  {% include "includes/newfooter.html" %}
{% endblock %}
        