
{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <div>
        <h1 class="govuk-heading-xl" style="margin-bottom: 20px;">Prototype scenarios <!-- <span class="govuk-caption-m">Last update: 12 August 2021</span> --> </h1> 
        <strong class="govuk-tag">WORK IN PROGRESS</strong>
      </div> 

      <br>
      <br>
      <br>
      <br>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" width="600">Scenario</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <!--
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" width="250px;">TBD</td>
            <td class="govuk-table__cell">
              <a href="link_cases_create_case_1" class="govuk-link govuk-link--no-visited-state" style="text-decoration: none;">Create a new case and link 3 existing cases</a>
            </td>
          </tr>
          -->
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="link_cases_22" class="govuk-link govuk-link--no-visited-state" style="text-decoration: none;">Link an existing case with other existing cases </a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="unlink_cases_1" class="govuk-link govuk-link--no-visited-state" style="text-decoration: none;">Unlink an existing case from another case </a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="link_hearings_15" class="govuk-link govuk-link--no-visited-state" style="text-decoration: none;">Link hearings </a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="#" class="govuk-link govuk-link--no-visited-state" style="text-decoration: none;">Unlink hearings </a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="#" class="govuk-link govuk-link--no-visited-state" style="text-decoration: none;">Request link hearings </a>
            </td>
          </tr>
        </tbody>
      </table>

  </div>

</div>

<p style="padding: 0 0 4em 0;"></p>

{% endblock %}
