
{% block header %}
  {% include "includes/newheader.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
    
    <div style=" max-width:1300px; margin: 0 auto;">

        <div style=" max-width:1300px;  min-width:1300px;  margin: 20px 0px 0px 0px;  ">

            <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 25px;">
                        
                <div class="govuk-width-container">

                    <main class="" id="main-content" role="main">

                        <div class="govuk-grid-row" style="width:1300px; margin-left: -90px;">

                            <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" style="border: 5px solid #f47738; background-color: #f47738;">
                                <div class="govuk-notification-banner__header" >
                                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                                          Important
                                    </h2>
                                </div>
                                <div class="govuk-notification-banner__content" style="position: relative;">
                                    <p class="govuk-notification-banner__heading" style="max-width: 1200px;"> 
                                        <span style="font-family: GDS Transport,arial,sans-serif;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-weight: 700;-webkit-box-sizing: border-box;box-sizing: border-box;display: inline-block;position: absolute;left: 0;min-width: 35px;min-height: 35px;margin-top: -7px;border: 3px solid #0b0c0c;border-radius: 50%;color: #fff;background: #0b0c0c;font-size: 30px;line-height: 29px;text-align: center;-webkit-user-select: none;-ms-user-select: none;-moz-user-select: none;user-select: none;margin-left: 20px;margin-top: 0px;">!</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        This case is restricted to people no allocated to the case. 
                                    </p>
                                </div>
                            </div>

                            <br><br><br><br><br>
                                                       
                        </div>

                    </main>

                </div>

            </main>

        </div>

    </div>

  </div>
    
</body>

</html>

{% block footer %}
  {% include "includes/newfooter.html" %}
{% endblock %}