
{% block header %}
  {% include "includes/newheader.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
    
    <div style=" max-width:1300px; margin: 0 auto;">

        <div style=" max-width:1300px;  min-width:1300px;  margin: 0px 0px 0px 0px;  ">

            <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 0px;">
                        

                <div class="govuk-width-container" style="margin-left: 80px">

                    <main class="" id="main-content" role="main">

                        <div class="govuk-grid-row">

                            <div class="govuk-grid-column-two-thirds">

                                <div>

                                    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

                                    <span class="govuk-caption-l" style="padding-top: 20px;">Mark case as restricted</span>

                                    <h1 class="govuk-heading-xl" style="margin-bottom: 30px;">Check your answers</h1>

                                    <br>

                                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                                      <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                          Disclaimer
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                          You agreed with the disclaimer
                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                          <a class="govuk-link" href="case_user_mark_case_restricted_7">
                                            Change<span class="govuk-visually-hidden"> Disclaimer</span>
                                          </a>
                                        </dd>
                                      </div>

                                      <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                          Reasons to mark this case as restricted
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                          Claimant is a popular football player
                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                          <a class="govuk-link" href="case_user_mark_case_restricted_6">
                                            Change<span class="govuk-visually-hidden"> Reasons to mark this case as restricted</span>
                                          </a>
                                        </dd>
                                      </div>

                                      <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                          Select who to allocate the role to
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                          Allocate to another person
                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                          <a class="govuk-link" href="case_user_mark_case_restricted_2">
                                            Change<span class="govuk-visually-hidden"> select who to allocate the role to</span>
                                          </a>
                                        </dd>
                                      </div>

                                      <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                          Select target to restricted case
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                          Judge
                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                          <a class="govuk-link" href="case_user_mark_case_restricted_3">
                                            Change<span class="govuk-visually-hidden"> Select target to restricted case</span>
                                          </a>
                                        </dd>
                                      </div>

                                      <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                          Select a role
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                          Lead judge
                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                          <a class="govuk-link" href="case_user_mark_case_restricted_3">
                                            Change<span class="govuk-visually-hidden"> Select a role</span>
                                          </a>
                                        </dd>
                                      </div>

                                      <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                          Find the person
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                          Judge Perter Coward (peter.coward@mail.com)
                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                          <a class="govuk-link" href="case_user_mark_case_restricted_4">
                                            Change<span class="govuk-visually-hidden"> Find the person</span>
                                          </a>
                                        </dd>
                                      </div>

                                      <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                          Select duration of role
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                          Indefinite
                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                          <a class="govuk-link" href="case_user_mark_case_restricted_5">
                                            Change<span class="govuk-visually-hidden"> Select duration of role</span>
                                          </a>
                                        </dd>
                                      </div>
                                    
                                    </dl>

                                    <h2 class="govuk-heading-m">Now mark the case as restricted</h2>

                                    <p class="govuk-body">By restricting this case you are confirming that, to the best of your knowledge, all the details you are providing are correct.</p>


                                    <div>
                                        <a href="case_user_mark_case_restricted_9.html"><button class="govuk-button" data-module="govuk-button">Mark case as restricted</button></a>
                                    </div>

                                    <p style="padding: 0 0 2em 0;"></p>

                                </div>

                            </div>

                        </div>

                    </main>

                </div>

            </main>

        </div>

    </div>

  </div>

</body>

</html>

{% block footer %}
  {% include "includes/newfooter.html" %}
{% endblock %}
   