
{% block header %}
  {% include "includes/newheader.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
    
    <div style=" max-width:1300px; margin: 0 auto;">

        <div style=" max-width:1300px;  min-width:1300px;  margin: 0px 0px 0px 0px;  ">

            <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 0px;">
                        

                <div class="govuk-width-container" style="margin-left: 80px">

                    <main class="" id="main-content" role="main">

                        <div class="govuk-grid-row">

                          <div class="govuk-grid-column-two-thirds">

                            <div>

                                <!--

                                <a href="javascript:history.back()" class="govuk-back-link">Back</a>

                                <h1 class="govuk-heading-xl" style="margin-bottom: 30px;">Selec target</h1>

                                <div class="govuk-form-group">
                                  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">

                                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

                                      <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                                        <label class="govuk-label govuk-radios__label" for="contact">
                                          John Smith (offender)
                                        </label>
                                      </div>

                                      <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                                        <label class="govuk-label govuk-radios__label" for="contact">
                                          Ann Peterson (defender)
                                        </label>
                                      </div>

                                      <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
                                        <label class="govuk-label govuk-radios__label" for="contact-2">
                                          All parties
                                        </label>
                                      </div>

                                    </div>

                                  </fieldset>
                                </div>

                                <br>

                                <div>
                                    <a href="creator_create_party_flag_2.html"><button class="govuk-button" data-module="govuk-button">Continue</button></a>
                                </div>

                                <br><br><br><br><br><br><br><br><br><br><br><br>

                                <a href="javascript:history.back()" class="govuk-back-link">Back</a>

                                <h1 class="govuk-heading-xl" style="margin-bottom: 30px;">Selec target</h1>

                                <table class="govuk-table">
                                  <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                      <th scope="col" class="govuk-table__header" width="250">Party</th>
                                      <th scope="col" class="govuk-table__header" width="200">Role on case</th>
                                      <th scope="col" class="govuk-table__header" width="510">Address</th>
                                    </tr>
                                  </thead>
                                  <tbody class="govuk-table__body">
                                    <tr class="govuk-table__row">
                                      <td class="govuk-table__cell" style="column-width: 250px;margin-right: 0px;">
                                        <div class="govuk-form-group" style="margin-bottom: 0px; width: 300px; margin-right: 0px;">
                                          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                                            <div class="govuk-radios--small govuk-radios--conditional" data-module="govuk-radios">
                                              <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                                                <label class="govuk-label govuk-radios__label" for="contact">John Smith</label>
                                              </div>
                                            </div>
                                          </fieldset>
                                        </div>
                                      </td>
                                      <td class="govuk-table__cell" style="height: 24px; padding-top: 20px;">Offender</td>
                                      <td class="govuk-table__cell" style="height: 24px; padding-top: 20px;">1 Hign Street, Birmingham, BH12AB</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                      <td class="govuk-table__cell">
                                        <div class="govuk-form-group" style="margin-bottom: 0px;">
                                          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                                            <div class="govuk-radios--small govuk-radios--conditional" data-module="govuk-radios">
                                              <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                                                <label class="govuk-label govuk-radios__label" for="contact">Ann Peterson</label>
                                              </div>
                                            </div>
                                          </fieldset>
                                        </div>
                                      </td>
                                      <td class="govuk-table__cell" style="height: 24px; padding-top: 20px;">Defender</td>
                                      <td class="govuk-table__cell" style="height: 24px; padding-top: 20px;">23 Long Street, Birmingham, BH34CD</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                      <td class="govuk-table__cell">
                                        <div class="govuk-form-group" style="margin-bottom: 0px;">
                                          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                                            <div class="govuk-radios--small govuk-radios--conditional" data-module="govuk-radios">
                                              <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                                                <label class="govuk-label govuk-radios__label" for="contact">All parties</label>
                                              </div>
                                            </div>
                                          </fieldset>
                                        </div>
                                      </td>
                                      <td class="govuk-table__cell" style="height: 24px; padding-top: 20px;"> </td>
                                      <td class="govuk-table__cell" style="height: 24px; padding-top: 20px;"> </td>
                                    </tr>
                                  </tbody>
                                </table>

                                <br>

                                <div>
                                    <a href="creator_create_party_flag_2.html"><button class="govuk-button" data-module="govuk-button">Continue</button></a>
                                </div>

                                <br><br><br><br><br><br><br><br><br><br><br><br>


                                <a href="javascript:history.back()" class="govuk-back-link">Back</a>

                                <h1 class="govuk-heading-xl" style="margin-bottom: 30px;">Selec target</h1>

                                <table class="govuk-table">
                                  <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                      <th scope="col" class="govuk-table__header" width="200">Party</th>
                                      <th scope="col" class="govuk-table__header" width="130">Role on case</th>
                                      <th scope="col" class="govuk-table__header" width="530">Address</th>
                                      <th scope="col" class="govuk-table__header" width="100"> </th>
                                    </tr>
                                  </thead>
                                  <tbody class="govuk-table__body">
                                    <tr class="govuk-table__row">
                                      <th class="govuk-table__cell">John Smith</th>
                                      <td class="govuk-table__cell">Offender</td>
                                      <td class="govuk-table__cell">1 Hign Street, Birmingham, BH12AB</td>
                                      <td class="govuk-table__cell"><a href="creator_create_party_flag_2" class="govuk-link govuk-link--no-visited-state">Select</a></td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                      <th class="govuk-table__cell">Ann Peterson</th>
                                      <td class="govuk-table__cell">Defender</td>
                                      <td class="govuk-table__cell">23 Long Street, Birmingham, BH34CD</td>
                                      <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Select</a></td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                      <th class="govuk-table__cell">All </th>
                                      <td class="govuk-table__cell"> </td>
                                      <td class="govuk-table__cell"> </td>
                                      <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Select</a></td>
                                    </tr>
                                  </tbody>
                                </table>

                                <br><br><br><br><br><br><br><br><br><br><br><br>

                                -->


                                <a href="javascript:history.back()" class="govuk-back-link">Back</a>

                                <span class="govuk-caption-l" style="padding-top: 20px;">Create a case flag</span>

                                <h1 class="govuk-heading-xl" style="margin-bottom: 30px;">Select target for flag</h1>

                                <!--
                                <div class="govuk-inset-text">
                                  If you are raising a flag against a party on the case, select the party, otherwise select the case.
                                </div>
                                -->

                                <br>

                                <table class="govuk-table">
                                  <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                      <th scope="col" class="govuk-table__header" width="300">Name</th>
                                      <th scope="col" class="govuk-table__header" width="300">Party</th>
                                      <th scope="col" class="govuk-table__header" width="100"> </th>
                                    </tr>
                                  </thead>
                                  <tbody class="govuk-table__body">
                                    <tr class="govuk-table__row">
                                      <th class="govuk-table__cell" style="height: 24px; padding-top: 15px;">John Smith</th>
                                      <td class="govuk-table__cell" style="height: 24px; padding-top: 15px;">Claimant</td>
                                      <td class="govuk-table__cell" style="margin-bottom: 0px; padding-bottom: 0px;">
                                        <a href="creator_create_party_flag_2">
                                          <button class="govuk-button" data-module="govuk-button" style="margin-bottom: 10px;">
                                            Select
                                          </button>
                                        </a>
                                      </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                      <th class="govuk-table__cell" style="height: 24px; padding-top: 15px;">Ann Peterson</th>
                                      <td class="govuk-table__cell" style="height: 24px; padding-top: 15px;">Respondent</td>
                                      <td class="govuk-table__cell" style="margin-bottom: 0px; padding-bottom: 0px;">
                                        <a href="#">
                                          <button class="govuk-button" data-module="govuk-button" style="margin-bottom: 10px;">
                                            Select
                                          </button>
                                        </a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>

                                <br>

                                <table class="govuk-table">
                                  <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                      <th scope="col" class="govuk-table__header" width="300">Case</th>
                                      <th scope="col" class="govuk-table__header" width="300"> </th>
                                      <th scope="col" class="govuk-table__header" width="100"> </th>
                                    </tr>
                                  </thead>
                                  <tbody class="govuk-table__body">
                                    <tr class="govuk-table__row">
                                      <th class="govuk-table__cell" style="height: 24px; padding-top: 15px;">Add flag to the case</th>
                                      <td class="govuk-table__cell" style="height: 24px; padding-top: 15px;"> </td>
                                      <td class="govuk-table__cell" style="margin-bottom: 0px; padding-bottom: 0px;">
                                        <a href="#">
                                          <button class="govuk-button" data-module="govuk-button" style="margin-bottom: 10px;">
                                            Select
                                          </button>
                                        </a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>

                                <p style="padding: 0 0 2em 0;"></p>

                            </div>

                          </div>

                        </div>

                    </main>

                </div>

            </main>

        </div>

    </div>

  </div>

</body>

</html>

{% block footer %}
  {% include "includes/newfooter.html" %}
{% endblock %}
        