
{% block header %}
  {% include "includes/newheader3.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
    
    <div style=" max-width:1300px; margin: 0 auto;">

        <div style=" max-width:1300px;  min-width:1300px;  margin: 0px 0px 0px 0px;  ">

            <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 0px;">
                        

                <div class="govuk-width-container" style="margin-left: 80px">

                    <main class="" id="main-content" role="main">

                        <div class="govuk-grid-row">

                          <div class="govuk-grid-column-two-thirds">

                            <div>

                                <br><br>

                                <div class="govuk-panel govuk-panel--confirmation">
                                  <h1 class="govuk-panel__title">
                                    Merge application complete
                                  </h1>
                                  <div class="govuk-panel__body">
                                    Your reference number<br><strong>HDJ2123F</strong>
                                  </div>
                                </div>

                                <p class="govuk-body">We have sent you a confirmation email.</p>

                                <h2 class="govuk-heading-m">What happens next</h2>

                                <p class="govuk-body">
                                  Text here.
                                </p>

                                <p class="govuk-body">
                                  Text here.
                                </p>
                                
                                <p style="padding: 0 0 2em 0;"></p>

                            </div>

                          </div>

                        </div>

                    </main>

                </div>

            </main>
 
        </div>

    </div>

  </div>

</body>

</html>



{% block footer %}
  {% include "includes/newfooter.html" %}
{% endblock %}
        