
{% block header %}
  {% include "includes/newheader3.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
    
    <div style=" max-width:1300px; margin: 0 auto;">

        <div style=" max-width:1300px;  min-width:1300px;  margin: 0px 0px 0px 0px;  ">

            <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 0px;">
                        

                <div class="govuk-width-container" style="margin-left: 80px">

                    <main class="" id="main-content" role="main">

                        <div class="govuk-grid-row">

                          <div class="govuk-grid-column-two-thirds">

                            <div>

                                <h1 class="govuk-heading-xl" style="margin-bottom: 30px;padding-top: 30px;">Merge organisations</h1>

                                <!--
                                <p class="govuk-heading-m">Lorum</p>
                                -->

                                <p class="govuk-body">Use this service if you need to apply to merge two existing organisations in HMCTS.</p>

                                <p class="govuk-body">Merging HMCTS organisations could respond to two different business processes:</p>

                                <ul class="govuk-list govuk-list--bullet">
                                  <li>Acquiring an existing organisation</li>
                                  <li>Merging two existing organisation</li>
                                </ul>

                                <p class="govuk-body">In both cases, the resulting process will end with one organisation holding all the users and cases, and deleting the remaining organisations.</p>

                                <p class="govuk-heading-m">Acquiring process</p>

                                <p class="govuk-body">This process involve one organisation acquiring another organisation, both existing in HMCTS, so the acquired organisation will transfer all their users and cases to the acquiring organisation in HMCTS , so the acquired organisation can be deleted from HMCTS. The acquiring organisationb will have all the users and cases from the deleted organisation.</p>

                                <p class="govuk-heading-m">Merging process</p>

                                <p class="govuk-body">This process involve two existing organisations at HMCTS joining operations, that means that, a new organisation will be created in HMCTS so both initial organisations will transfer their users and cases to the new organisation, so they can be deleted from HMCTS. The new organisation will have all the users and cases from the deleted organisations.</p>

                                <p class="govuk-heading-m">Something else here...</p>

                                <p class="govuk-body">And text here...</p>

                                <p style="margin-bottom: 30px;padding-top: 10px;"></p>

                                <div>
                                  <a href="acquisition-2.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                                    Start now
                                    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                                      <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                                    </svg>
                                  </a>
                                  <!--
                                  <a href="acquisition-2.html"><button class="govuk-button" data-module="govuk-button">Continue</button></a>
                                  <span style="position: relative; top: 10px; display: inline-block;padding-left: 30px;" class="govuk-body">
                                    <a href="#" class="govuk-link">Cancel</a>
                                  </span>
                                  -->
                                </div>

                                <p style="padding: 0 0 2em 0;"></p>

                            </div>

                          </div>

                        </div>

                    </main>

                </div>

            </main>
 
        </div>

    </div>

  </div>

</body>

</html>



{% block footer %}
  {% include "includes/newfooter.html" %}
{% endblock %}
        