
{% block header %}
  {% include "includes/newheader3.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
    
    <div style=" max-width:1300px; margin: 0 auto;">

        <div style=" max-width:1300px;  min-width:1300px;  margin: 0px 0px 0px 0px;  ">

            <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 0px;">
                        

                <div class="govuk-width-container" style="margin-left: 80px">

                    <main class="" id="main-content" role="main">

                        <div class="govuk-grid-row">

                          <div class="govuk-grid-column-full">

                            <div>

                                <h1 class="govuk-heading-xl" style="margin-top: 40px;margin-bottom: 10px;">Organisations details</h1>

                                <br><br>

                                <p style="background-color:#d2e2f1;">
                                  <br>
                                  <span style="padding-left: 20px;"><strong>This organisation has been deleted so you only can view previous activity</strong> </span>
                                  <br>
                                  <br>
                                </p>

                                <div class="govuk-width-container">
                                  <main class="govuk-main-wrapper " id="main-content" role="main" style="margin-bottom: 0px;">
                                    <div class="govuk-grid-row">
                                      <div class="govuk-grid-column-full">

                                        <dl class="govuk-summary-list govuk-!-margin-bottom-9" style="margin-bottom: 50px!important;">
                                          <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">
                                              Name
                                            </dt>
                                            <dd class="govuk-summary-list__value">
                                              Wedlake Bell
                                            </dd>
                                            <dd class="govuk-summary-list__actions" style="width: 300px;">
                                              <!--
                                              <a class="govuk-link govuk-link--no-visited-state" href="#">
                                                Change<span class="govuk-visually-hidden"> Lorum</span>
                                              </a>
                                              -->
                                            </dd>
                                          </div>
                                          <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">
                                              SRA ID
                                            </dt>
                                            <dd class="govuk-summary-list__value">
                                              SRA3347232
                                            </dd>
                                            <dd class="govuk-summary-list__actions">
                                              <!--
                                              <a class="govuk-link govuk-link--no-visited-state" href="#">
                                                Change<span class="govuk-visually-hidden"> Lorum</span>
                                              </a>
                                              -->
                                            </dd>
                                          </div>
                                          <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">
                                              Organisation address
                                            </dt>
                                            <dd class="govuk-summary-list__value">
                                              102 Petty France<br>London<br>SW1h 9AJ<br>DX: 152738, Westminster 8
                                            </dd>
                                            <dd class="govuk-summary-list__actions">
                                              <!--
                                              <a class="govuk-link govuk-link--no-visited-state" href="#">
                                                Add or remove an address<span class="govuk-visually-hidden"> Lorum</span>
                                              </a>
                                              -->
                                            </dd>
                                          </div>
                                          <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">
                                              PBA number
                                            </dt>
                                            <dd class="govuk-summary-list__value">
                                              PBA1234567
                                            </dd>
                                            <dd class="govuk-summary-list__actions">
                                              <!--
                                              <a class="govuk-link govuk-link--no-visited-state" href="#">
                                                Change<span class="govuk-visually-hidden"> Lorum</span>
                                              </a>
                                              -->
                                            </dd>
                                          </div>
                                          <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">
                                              Delete date
                                            </dt>
                                            <dd class="govuk-summary-list__value">
                                              14 October 2022
                                              <br>
                                              <!--
                                              <span class="govuk-body govuk-!-font-size-16" style="color: #505a5f">luke.wilson@email.com</span>
                                              -->
                                            </dd>
                                            <dd class="govuk-summary-list__actions">
                                              <!--
                                              <a class="govuk-link govuk-link--no-visited-state" href="#">
                                                Change<span class="govuk-visually-hidden"> Lorum</span>
                                              </a>
                                              -->
                                            </dd>
                                          </div>
                                        </dl>

                                      </div>
                                    </div>
                                  </main>
                                </div>

                                <p style="padding: 0 0 2em 0;"></p>

                            </div>

                          </div>

                        </div>

                    </main>

                </div>

            </main>
 
        </div>

    </div>

  </div>

</body>

</html>



{% block footer %}
  {% include "includes/newfooter.html" %}
{% endblock %}
        