
{% block header %}
  {% include "includes/newheader3.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
    
    <div style=" max-width:1300px; margin: 0 auto;">

        <div style=" max-width:1300px;  min-width:1300px;  margin: 0px 0px 0px 0px;  ">

            <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 0px;">
                        

                <div class="govuk-width-container" style="margin-left: 80px">

                    <main class="" id="main-content" role="main">

                        <div class="govuk-grid-row">

                          <div class="govuk-grid-column-two-thirds">

                            <div>

                              <a href="javascript:history.back()" class="govuk-back-link">Back</a>

                                <span class="govuk-caption-l" style="padding-top: 20px;padding-bottom: 5px;">Transfer Wedlake Bell cases</span>

                                <h1 class="govuk-heading-xl" style="margin-bottom: 30px;">Review your answers before sending your transfer request</h1>

                                <div class="govuk-inset-text">
                                  Once submitted, HMCTS will review your request before accepting or rejecting. They may ask you for more information
                                </div>

                                <br>

                                        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                                          
                                          <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">
                                              <span style="font-weight: 400;">Organisation transfering cases</span>
                                            </dt>
                                            <dd class="govuk-summary-list__actions" style="text-align: left;">
                                               <span style="font-weight: 400;">Wedlake Bell<br>SRA3347232</span>
                                            </dd>
                                            <dd class="govuk-summary-list__actions">
                                              <a class="govuk-link" href="#">
                                                Change<span class="govuk-visually-hidden"> Lorum</span>
                                              </a>
                                            </dd>
                                          </div>

                                          <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">
                                              <span style="font-weight: 400;">Organisation receiving cases</span>
                                            </dt>
                                            <dd class="govuk-summary-list__actions" style="text-align: left;">
                                               <span style="font-weight: 400;">Landa Solicitors Ltd<br>SRA7562498</span>
                                            </dd>
                                            <dd class="govuk-summary-list__actions">
                                              <a class="govuk-link" href="#">
                                                Change<span class="govuk-visually-hidden"> Lorum</span>
                                              </a>
                                            </dd>
                                          </div>

                                          <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">
                                              <span style="font-weight: 400;">Cases to transfer</span>
                                            </dt>
                                            <dd class="govuk-summary-list__actions" style="text-align: left;">
                                              4
                                            </dd>
                                            <dd class="govuk-summary-list__actions">
                                              <a class="govuk-link" href="#">
                                                Change<span class="govuk-visually-hidden"> Lorum</span>
                                              </a>
                                            </dd>
                                          </div>
                                          
                                          <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">
                                              <span style="font-weight: 400;">Users to transfer</span>
                                            </dt>
                                            <dd class="govuk-summary-list__actions" style="text-align: left;">
                                              2
                                            </dd>
                                            <dd class="govuk-summary-list__actions">
                                              <a class="govuk-link" href="#">
                                                Change<span class="govuk-visually-hidden"> Lorum</span>
                                              </a>
                                            </dd>
                                          </div>

                                        </dl>
                                      
                                        <h2 class="govuk-heading-m">Now send your transfer request</h2>

                                        <p class="govuk-body">By submitting this transfer request application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

                                <br>

                                <div>
                                  <a href="delete-7.html"><button class="govuk-button" data-module="govuk-button">Request transfer now</button></a>
                                  <span style="position: relative; top: 10px; display: inline-block;padding-left: 20px;" class="govuk-body">
                                    <a href="delete-1.html" class="govuk-link">Cancel transfer cases</a>
                                  </span>
                                </div>
                                
                                <p style="padding: 0 0 2em 0;"></p>

                            </div>

                          </div>

                        </div>

                    </main>

                </div>

            </main>
 
        </div>

    </div>

  </div>

</body>

</html>



{% block footer %}
  {% include "includes/newfooter.html" %}
{% endblock %}
        