
{% block header %}
  {% include "includes/newheader3.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
    
    <div style=" max-width:1300px; margin: 0 auto;">

        <div style=" max-width:1300px;  min-width:1300px;  margin: 0px 0px 0px 0px;  ">

            <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 0px;">
                        

                <div class="govuk-width-container" style="margin-left: 80px">

                    <main class="" id="main-content" role="main">

                        <div class="govuk-grid-row">

                          <div class="govuk-grid-column-two-thirds">

                            <div>

                              <a href="javascript:history.back()" class="govuk-back-link">Back</a>

                                <span class="govuk-caption-l" style="padding-top: 20px;">Delete organisation</span>

                                <h1 class="govuk-heading-xl" style="margin-bottom: 30px;">Review your answers before sending your application</h1>

                                <div class="govuk-inset-text">
                                  This application will start the process for HMCTS to review your delete request subject to be approved or rejected.
                                </div>

                                <br>

                                        <h2 class="govuk-heading-m">Organisation to delete</h2>

                                        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                                          <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">
                                              <span style="font-weight: 400;">Wedlake Bell</span> <br><span style="font-weight: 400;">SRA3347232</span>
                                            </dt>
                                            <dd class="govuk-summary-list__actions">
                                              <a class="govuk-link" href="#">
                                                Change<span class="govuk-visually-hidden"> Lorum</span>
                                              </a>
                                            </dd>
                                          </div>
                                        </dl>

                                        <h2 class="govuk-heading-m">User in this organisation</h2>

                                        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                                          <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">
                                              <span style="font-weight: 400;">Leonard Patter</span>
                                            </dt>
                                            <dd class="govuk-summary-list__actions">
                                              <!--
                                              <a class="govuk-link" href="#">
                                                Change<span class="govuk-visually-hidden"> Lorum</span>
                                              </a>
                                              -->
                                            </dd>
                                          </div>
                                          <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">
                                               <span style="font-weight: 400;">Joanne Sugar</span>
                                            </dt>
                                            <dd class="govuk-summary-list__actions">
                                              <!--
                                              <a class="govuk-link" href="#">
                                                Change<span class="govuk-visually-hidden"> Lorum</span>
                                              </a>
                                              -->
                                            </dd>
                                          </div>
                                        </dl>
                                      
                                        <h2 class="govuk-heading-m">Now send your delete request</h2>

                                        <p class="govuk-body">By submitting this delete request application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

                                <br>

                                <div>
                                  <a href="merge-12.html"><button class="govuk-button" data-module="govuk-button">Request delete now</button></a>
                                  <span style="position: relative; top: 10px; display: inline-block;padding-left: 20px;" class="govuk-body">
                                    <a href="merge-1.html" class="govuk-link">Cancel delete organisation</a>
                                  </span>
                                </div>
                                
                                <p style="padding: 0 0 2em 0;"></p>

                            </div>

                          </div>

                        </div>

                    </main>

                </div>

            </main>
 
        </div>

    </div>

  </div>

</body>

</html>



{% block footer %}
  {% include "includes/newfooter.html" %}
{% endblock %}
        