
{% block header %}
  {% include "includes/newheader.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
    
    <div style=" max-width:1300px; margin: 0 auto;">

        <div style=" max-width:1300px;  min-width:1300px;  margin: 20px 0px 0px 0px;  ">

            <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 25px;">
                        
                <div class="govuk-width-container">

                    <main class="" id="main-content" role="main">

                        <div class="govuk-grid-row" style="width:1300px; margin-left: -90px;">

                            <div class="" style="display: flex; justify-content: space-between; ">

                                <div>

                                    <span class="govuk-caption-l" style="padding-top: 0px">1234-5678-9012-3456</span>
                                  
                                    <h1 class="govuk-heading-xl">Smith v Peterson  &nbsp;&nbsp;&nbsp; </h1>

                                </div>

                                <div style="display: flex; align-items:right; padding-top: 10px;">
                                    <p class="govuk-!-margin-top-2">Next step &nbsp;</p>

                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="published" selected="">Select action</option>
                                        <option value="published">Submit amended application</option>
                                        <option value="published">Link respondent</option>
                                        <option value="published">Add Note</option>
                                        <option value="published">Upload document</option>
                                        <option value="updated">Stop representing a client</option>
                                        <option value="updated">Create a case flag</option>
                                        <option value="updated">Manage case flags</option>
                                        <option value="updated">Link or unlink cases</option>
                                        <option value="updated">Print</option>
                                    </select>

                                    <div>
                                        <a href="#">
                                            <button class="govuk-button govuk-!-margin-left-1" data-module="govuk-button">Go</button>
                                        </a>
                                    </div>

                                </div>

                            </div>

                            <div class="govuk-notification-banner govuk-notification-banner--success" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                                <div class="govuk-notification-banner__header" >
                                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                                          Success
                                    </h2>
                                </div>
                                <div class="govuk-notification-banner__content" style="position: relative;">
                                    <p class="govuk-notification-banner__heading" style="max-width: 1200px;"> 
                                        <!--<span style="font-family: GDS Transport,arial,sans-serif;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-weight: 700;-webkit-box-sizing: border-box;box-sizing: border-box;display: inline-block;position: absolute;left: 0;min-width: 35px;min-height: 35px;margin-top: -7px;border: 3px solid #0b0c0c;border-radius: 50%;color: #fff;background: #0b0c0c;font-size: 30px;line-height: 29px;text-align: center;-webkit-user-select: none;-ms-user-select: none;-moz-user-select: none;user-select: none;margin-left: 20px;margin-top: 0px;">!</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                                        Case #1234-5678-9012-3456 has been updated with event: Link case 
                                        <!--
                                        <a href="case_flag_reviewer" class="govuk-link--no-visited-state">review</a>. 
                                        -->
                                    </p>
                                </div>
                            </div>

                            <div class="govuk-tabs" data-module="govuk-tabs">

                                  <h2 class="govuk-tabs__title">
                                    Contents
                                  </h2>

                                  <ul class="govuk-tabs__list">
                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="#">
                                        History
                                      </a>
                                    </li>
                                    
                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="creator_case_flags">
                                        Case flags
                                      </a>
                                    </li>

                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="#2">
                                        Petition
                                      </a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="#3">
                                        AOS
                                      </a>
                                    </li>
                                    <!--
                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="#4">
                                        Outcome of Decree Nisi
                                      </a>
                                    </li>
                                    -->
                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="#5">
                                        Documents
                                      </a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="#6">
                                        Marriage Certificate
                                      </a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="#8">
                                        Hearings
                                      </a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="#9">
                                        Case file
                                      </a>
                                    </li>
                                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                                      <a class="govuk-tabs__tab" href="#">
                                        Linked cases 
                                      </a>
                                    </li>
                                  </ul>

                                  <div class="govuk-tabs__panel" id="1">
                                        <div>

                                            <h2 class="govuk-heading-l" style="margin-top: 10px;">Linked cases</h2>

                                            <!--

                                            <h3 class="govuk-heading-s" style="margin-bottom: 20px;">Lead case: <span class="govuk-body">Smith vs Peterson 4652-7249-0269-6213</span></h3>

                                            -->

                                            <h3 class="govuk-heading-m" style="margin-top: 10px;margin-bottom: 0px;">Cases dependent on this case as a lead</h3>

                                            <table class="govuk-table">
                                                <thead class="govuk-table__head">
                                                  <tr class="govuk-table__row">
                                                    <th scope="col" class="govuk-table__header" width="400">Case name and number</th>
                                                    <th scope="col" class="govuk-table__header" width="150">Case type </th>
                                                    <th scope="col" class="govuk-table__header" width="150">Service</th>
                                                    <th scope="col" class="govuk-table__header" width="150">State</th>
                                                    <th scope="col" class="govuk-table__header" width="400">Reasons for case link</th>
                                                  </tr>
                                                </thead>
                                                <tbody class="govuk-table__body">
                                                  <tr class="govuk-table__row">
                                                    <td class="govuk-table__cell">
                                                        <a href="#" class="govuk-link govuk-link--no-visited-state" style="text-decoration: none;">Smith vs Peterson <br>4652-7249-0269-6213</a>
                                                    </td>
                                                    <td class="govuk-table__cell">Appeal</td>
                                                    <td class="govuk-table__cell">Immigration and Assylum Chamber</td>
                                                    <td class="govuk-table__cell">Case under review</td>
                                                    <td class="govuk-table__cell">Linked for a hearing</td>
                                                  </tr>
                                                  <tr class="govuk-table__row">
                                                    <td class="govuk-table__cell">
                                                        <a href="#" class="govuk-link govuk-link--no-visited-state" style="text-decoration: none;">Smith vs Peterson <br>5283-8196-7254-2864</a>
                                                    </td>
                                                    <td class="govuk-table__cell">Appeal</td>
                                                    <td class="govuk-table__cell">Immigration and Assylum Chamber</td>
                                                    <td class="govuk-table__cell">Case under review</td>
                                                    <td class="govuk-table__cell">Progressed as part of this lead case <a href="#" class="govuk-link govuk-link--no-visited-state" style="text-decoration: none;">3456</a>, dependent on this lead case, linked for a hearing </td>
                                                  </tr>
                                                  <tr class="govuk-table__row">
                                                    <td class="govuk-table__cell"> <!--&nbsp;
                                                        <span data-toggle="tooltip" data-placement="right" title="This case is linked to another 4 cases" style="color: #f47738;">∞</span>-->
                                                        <a href="#" class="govuk-link govuk-link--no-visited-state" style="text-decoration: none;">Peterson vs Acme <br>8254-9025-7233-6147</a>
                                                    </td>
                                                    <td class="govuk-table__cell">Appeal</td>
                                                    <td class="govuk-table__cell">Immigration and Assylum Chamber</td>
                                                    <td class="govuk-table__cell">Case under review</td>
                                                    <td class="govuk-table__cell">Case consolidated with <a href="#" class="govuk-link govuk-link--no-visited-state" style="text-decoration: none;">3456</a>, familial, guardian, linked for a hearing </td>
                                                  </tr>
                                                </tbody>
                                              </table>

                                              <br>

                                              <h3 class="govuk-heading-m" style="margin-top: 10px;margin-bottom: 0px;">This case have been linked from</h3>

                                              <table class="govuk-table">
                                                <thead class="govuk-table__head">
                                                  <tr class="govuk-table__row">
                                                    <th scope="col" class="govuk-table__header" width="400">Case name and number</th>
                                                    <th scope="col" class="govuk-table__header" width="150">Case type </th>
                                                    <th scope="col" class="govuk-table__header" width="150">Service</th>
                                                    <th scope="col" class="govuk-table__header" width="150">State</th>
                                                    <th scope="col" class="govuk-table__header" width="400">Reasons for case link</th>
                                                  </tr>
                                                </thead>
                                                <tbody class="govuk-table__body">
                                                  <tr class="govuk-table__row">
                                                    <td class="govuk-table__cell">
                                                        <a href="#" class="govuk-link govuk-link--no-visited-state" style="text-decoration: none;">Peterson vs Alovera <br>6789-0123-4567-8901</a>
                                                    </td>
                                                    <td class="govuk-table__cell">Appeal</td>
                                                    <td class="govuk-table__cell">Immigration and Assylum Chamber</td>
                                                    <td class="govuk-table__cell">Ready for hearing</td>
                                                    <td class="govuk-table__cell">Linked for a hearing</td>
                                                  </tr>
                                                  <tr class="govuk-table__row">
                                                    <td class="govuk-table__cell">
                                                        <a href="#" class="govuk-link govuk-link--no-visited-state" style="text-decoration: none;">Smith vs Wales Waters <br>7890-1234-5678-9012</a>
                                                    </td>
                                                    <td class="govuk-table__cell">Appeal</td>
                                                    <td class="govuk-table__cell">Immigration and Assylum Chamber</td>
                                                    <td class="govuk-table__cell">Ready for hearing</td>
                                                    <td class="govuk-table__cell">Linked for a hearing </td>
                                                  </tr>
                                                  <tr class="govuk-table__row">
                                                    <td class="govuk-table__cell"> <!--&nbsp;
                                                        <span data-toggle="tooltip" data-placement="right" title="This case is linked to another 4 cases" style="color: #f47738;">∞</span>-->
                                                        <a href="#" class="govuk-link govuk-link--no-visited-state" style="text-decoration: none;">Wales Waters vs Omnimus <br>9012-3456-7890-1234</a>
                                                    </td>
                                                    <td class="govuk-table__cell">Appeal</td>
                                                    <td class="govuk-table__cell">Immigration and Assylum Chamber</td>
                                                    <td class="govuk-table__cell">Ready for hearing</td>
                                                    <td class="govuk-table__cell">Linked for a hearing </td>
                                                  </tr>
                                                </tbody>
                                              </table>

                                              <br>

                                        </div>
                                  </div>


                                    
                                </div>

                            </div>

                        </div>

                    </main>

                </div>

            </main>

        </div>

    </div>

  </div>
    
</body>

</html>


{% block footer %}
  {% include "includes/newfooter.html" %}
{% endblock %}