
{% block header %}
  {% include "includes/newheader.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
    
    <div style=" max-width:1300px; margin: 0 auto;">

        <div style=" max-width:1300px;  min-width:1300px;  margin: 0px 0px 0px 0px;  ">

            <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 0px;">
                        

                <div class="govuk-width-container" style="margin-left: 80px">

                    <main class="" id="main-content" role="main">

                        <div class="govuk-grid-row" style="max-width:1300px;  min-width:1300px;">

                          <div class="govuk-grid-column-full">

                            <div>

                              <a href="javascript:history.back()" class="govuk-back-link">Back</a>

                              <span class="govuk-caption-l" style="padding-top: 20px;">Link cases to Smith vs Peterson 1234-5678-9012-3456</span>

                              <h1 class="govuk-heading-xl" style="margin-bottom: 20px;">Select a case you want to link to this case</h1>

                              <!--
                              <div class="govuk-inset-text">
                                You can only link to cases within the same jurisdiction.
                              </div>
                              -->

                              <br>

                              <h3 class="govuk-heading-s" style="margin-bottom: 10px;">Enter case number</h3>

                              <div class="govuk-form-group" style="margin-bottom: 10px;">
                                <!--
                                <label class="govuk-label" for="width-20">
                                  Enter case number
                                </label>
                                -->
                                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
                              </div>

                              <br><br>

                              <h3 class="govuk-heading-s" style="margin-bottom: 10px;">Why should these cases be linked?</h3>

                              <div id="waste-hint" class="govuk-hint">
                                Select all that apply.
                              </div>
                              <div class="govuk-checkboxes" data-module="govuk-checkboxes"> 
                                <div class="govuk-checkboxes__item">
                                  <input class="govuk-checkboxes__input" id="5" name="waste" type="checkbox" value="farm">
                                  <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                                    Progressed as part of this lead case
                                  </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                  <input class="govuk-checkboxes__input" id="11" name="waste" type="checkbox" value="farm">
                                  <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                                    Bail
                                  </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                  <input class="govuk-checkboxes__input" id="10" name="waste" type="checkbox" value="farm">
                                  <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                                    Case consolidated
                                  </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                  <input class="govuk-checkboxes__input" id="9" name="waste" type="checkbox" value="farm">
                                  <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                                    Familial
                                  </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                  <input class="govuk-checkboxes__input" id="7" name="waste" type="checkbox" value="farm">
                                  <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                                    Guardian
                                  </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                  <input class="govuk-checkboxes__input" id="4" name="waste" type="checkbox" value="mines">
                                  <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                                    Home Office request
                                  </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                  <input class="govuk-checkboxes__input" id="1" name="waste" type="checkbox" value="carcasses">
                                  <label class="govuk-label govuk-checkboxes__label" for="waste">
                                    Linked for a hearing
                                  </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                  <input class="govuk-checkboxes__input" id="8" name="waste" type="checkbox" value="farm">
                                  <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                                    Shared evidence
                                  </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                  <input class="govuk-checkboxes__input" id="2" name="waste" type="checkbox" value="mines">
                                  <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                                    Other appeal decided
                                  </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                  <input class="govuk-checkboxes__input" id="3" name="waste" type="checkbox" value="farm">
                                  <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                                    Other appeal pending
                                  </label>
                                </div>

                                <div class="govuk-checkboxes__item">
                                  <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email" data-aria-controls="conditional-contact">
                                  <label class="govuk-label govuk-checkboxes__label" for="contact">
                                        Other
                                  </label>
                                </div>
                                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact">
                                  <div class="govuk-form-group">
                                    <label class="govuk-label" for="contact-by-email">
                                          Enter the reason
                                    </label>
                                    <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contact-by-email" type="email" spellcheck="false" autocomplete="email">
                                  </div>
                                </div>



                              </div>

                              <br><br>

                              <a href="link_cases_20d.html"><button class="govuk-button govuk-button--secondary" data-module="govuk-button">Propose case link</button></a>

                              <br><br>

                              <hr style="border-color: #000000;border-width: 1px;">

                              <br><br>

                                  <table class="govuk-table">
                                    <caption class="govuk-table__caption govuk-table__caption--m">Proposed case links </caption>
                                    <thead class="govuk-table__head">
                                      <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header" width="400">Case name and number</th>
                                        <th scope="col" class="govuk-table__header" width="150">Case type </th>
                                        <th scope="col" class="govuk-table__header" width="150">Service</th>
                                        <th scope="col" class="govuk-table__header" width="150">State</th>
                                        <th scope="col" class="govuk-table__header" width="400">Reasons for case link</th>
                                        <th scope="col" class="govuk-table__header" width="50"></th>
                                      </tr>
                                    </thead>
                                    <tbody class="govuk-table__body">
                                      <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">
                                          Smith vs Peterson <br>4652-7249-0269-6213
                                        </td>
                                        <td class="govuk-table__cell">Family</td>
                                        <td class="govuk-table__cell">IAC</td>
                                        <td class="govuk-table__cell">Doloris</td>
                                        <td class="govuk-table__cell">Linked for a hearing</td>
                                        <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state" style="text-decoration: none;">Remove</a></td>
                                      </tr>
                                      <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">
                                          Smith vs Peterson <br>5283-8196-7254-2864
                                        </td>
                                        <td class="govuk-table__cell">Family</td>
                                        <td class="govuk-table__cell">IAC</td>
                                        <td class="govuk-table__cell">Pentare</td>
                                        <td class="govuk-table__cell">Progressed as part of this lead case <br>Linked for a hearing </td>
                                        <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state" style="text-decoration: none;">Remove</a></td>
                                      </tr>
                                    </tbody>
                                  </table>

                                  <p style="padding: 0 0 0.1em 0;"></p>

                                  <div>
                                    <a href="#"><button class="govuk-button" data-module="govuk-button">Continue</button></a>
                                  </div>

                                  <p style="padding: 0 0 2em 0;"></p>

                            </div>

                          </div>

                        </div>

                    </main>

                </div>

            </main>

        </div>

    </div>

  </div>

</body>

</html>


{% block footer %}
  {% include "includes/newfooter.html" %}
{% endblock %}
        