
{% block header %}
  {% include "includes/newheader.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
    
    <div style=" max-width:1300px; margin: 0 auto;">

        <div style=" max-width:1300px;  min-width:1300px;  margin: 20px 0px 0px 0px;  ">

            <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 25px;">
                        
                <div class="govuk-width-container">

                    <main class="" id="main-content" role="main">

                        <div class="govuk-grid-row" style="width:1300px; margin-left: -90px;">

                            <div class="" style="display: flex; justify-content: space-between; ">

                                <div>

                                    <span class="govuk-caption-l" style="padding-top: 0px">1234-5678-9012-3456</span>
                                  
                                    <h1 class="govuk-heading-xl">Smith v Peterson  &nbsp;&nbsp;&nbsp; </h1>

                                    <!--
                                    <span style="margin-bottom:50px; padding-top: 25px;"><a href="#">Print</a></span>
                                    -->

                                    <!--
                                    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                                        Print
                                    </button>
                                    -->

                                </div>

                                <div style="display: flex; align-items:right; padding-top: 10px;">
                                    <p class="govuk-!-margin-top-2">Next step &nbsp;</p>

                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="published" selected="">Select action</option>
                                        <option value="published">Submit amended application</option>
                                        <option value="published">Link respondent</option>
                                        <option value="published">Add Note</option>
                                        <option value="published">Upload document</option>
                                        <option value="updated">Stop representing a client</option>
                                        <option value="updated">Create a case flag</option>
                                        <option value="updated">Print</option>
                                    </select>

                                    <div>
                                        <a href="create_case_flag_1.html">
                                            <button class="govuk-button govuk-!-margin-left-1" data-module="govuk-button">Go</button>
                                        </a>
                                    </div>

                                </div>

                            </div>

                            <div class="govuk-tabs" data-module="govuk-tabs">

                                  <h2 class="govuk-tabs__title">
                                    Contents
                                  </h2>

                                  <ul class="govuk-tabs__list">
                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="case_details">
                                        History
                                      </a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="#2">
                                        Petition
                                      </a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="#3">
                                        AOS
                                      </a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="#4">
                                        Outcome of Decree Nisi
                                      </a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="#5">
                                        Documents
                                      </a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="#6">
                                        Marriage Certificate
                                      </a>
                                    </li>
                                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                                      <a class="govuk-tabs__tab" href="#7">
                                        Case flags
                                      </a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="#8">
                                        Hearings
                                      </a>
                                    </li>
                                  </ul>

                                  <div class="govuk-tabs__panel" id="1">
                                        <div style="margin-top: 20px;">

                                            <h2 class="govuk-heading-m">Case flags</h2>




                                            <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                                              <div class="govuk-accordion__section ">
                                                <div class="govuk-accordion__section-header">
                                                  <h2 class="govuk-accordion__section-heading">
                                                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                                      Writing well for the web
                                                    </span>
                                                  </h2>
                                                </div>
                                                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                                                  <p class='govuk-body'>This is the content for Writing well for the web.</p>
                                                </div>
                                              </div>
                                              <div class="govuk-accordion__section ">
                                                <div class="govuk-accordion__section-header">
                                                  <h2 class="govuk-accordion__section-heading">
                                                    <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                                                      Writing well for specialists
                                                    </span>
                                                  </h2>
                                                </div>
                                                <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                                                  <p class='govuk-body'>This is the content for Writing well for specialists.</p>
                                                </div>
                                              </div>
                                              <div class="govuk-accordion__section ">
                                                <div class="govuk-accordion__section-header">
                                                  <h2 class="govuk-accordion__section-heading">
                                                    <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                                      Know your audience
                                                    </span>
                                                  </h2>
                                                </div>
                                                <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                                                  <p class='govuk-body'>This is the content for Know your audience.</p>
                                                </div>
                                              </div>
                                              <div class="govuk-accordion__section ">
                                                <div class="govuk-accordion__section-header">
                                                  <h2 class="govuk-accordion__section-heading">
                                                    <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                                                      How people read
                                                    </span>
                                                  </h2>
                                                </div>
                                                <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
                                                  <p class='govuk-body'>This is the content for How people read.</p>
                                                </div>
                                              </div>
                                            </div>






                                            <table class="govuk-table">
                                                <!--
                                                <caption class="govuk-table__caption govuk-table__caption--m">Party flags</caption>
                                                -->
                                                <thead class="govuk-table__head">
                                                  <tr class="govuk-table__row">
                                                    <th scope="col" class="govuk-table__header" width="350">Party flags</th>
                                                    <th scope="col" class="govuk-table__header" width="250">Name</th>
                                                    <!--
                                                    <th scope="col" class="govuk-table__header" width="200">Category</th>
                                                    <th scope="col" class="govuk-table__header" width="200">Sub Category</th>
                                                    -->
                                                    <th scope="col" class="govuk-table__header" width="500">Description</th>
                                                    <th scope="col" class="govuk-table__header" width="200">Status</th>
                                                  </tr>
                                                </thead>
                                                <tbody class="govuk-table__body">
                                                  <tr class="govuk-table__row">
                                                    <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state" style="text-decoration: none;">Vexatious litigan</a></td>
                                                    <td class="govuk-table__cell">John Smith</td>
                                                    <!--
                                                    <td class="govuk-table__cell"> </td>
                                                    <td class="govuk-table__cell"> </td>
                                                    -->
                                                    <td class="govuk-table__cell">Serial case creator</td>
                                                    <td class="govuk-table__cell">
                                                        <strong class="govuk-tag">Active</strong>
                                                    </td>
                                                  </tr>
                                                  <tr class="govuk-table__row">
                                                    <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state" style="text-decoration: none;">Foreign national offernder</a></td>
                                                    <td class="govuk-table__cell">Ann Coward</td>
                                                    <!--
                                                    <td class="govuk-table__cell"> </td>
                                                    <td class="govuk-table__cell"> </td>
                                                    -->
                                                    <td class="govuk-table__cell">Flight risk</td>
                                                    <td class="govuk-table__cell">
                                                        <strong class="govuk-tag govuk-tag--red">Denied</strong>
                                                    </td>
                                                  </tr>
                                                  <tr class="govuk-table__row">
                                                    <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state" style="text-decoration: none;">Reasonable adjustment</a></td>
                                                    <td class="govuk-table__cell">Peter Wilkinson</td>
                                                    <!--
                                                    <td class="govuk-table__cell">Language interpreter</td>
                                                    <td class="govuk-table__cell">Danish to English</td>
                                                    -->
                                                    <td class="govuk-table__cell">Mr Wilkinson's english is very basic </td>
                                                    <td class="govuk-table__cell">
                                                        <strong class="govuk-tag">Active</strong>
                                                    </td>
                                                  </tr>
                                                </tbody>
                                              </table>

                                              <br>

                                              <table class="govuk-table">
                                                <!--
                                                <caption class="govuk-table__caption govuk-table__caption--m">Case level flags</caption>
                                                -->
                                                <thead class="govuk-table__head">
                                                  <tr class="govuk-table__row">
                                                    <th scope="col" class="govuk-table__header" width="635">Case level flags</th>
                                                    <th scope="col" class="govuk-table__header" width="500">Description</th>
                                                    <th scope="col" class="govuk-table__header" width="200">Status</th>
                                                  </tr>
                                                </thead>
                                                <tbody class="govuk-table__body">
                                                  <tr class="govuk-table__row">
                                                    <td td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state" style="text-decoration: none;">Potential fraud</a></td>
                                                    <td class="govuk-table__cell">Possible faked documents provided</td>
                                                    <td class="govuk-table__cell">
                                                        <strong class="govuk-tag">Active</strong>
                                                    </td>
                                                  </tr>
                                                  <tr class="govuk-table__row">
                                                    <td td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state" style="text-decoration: none;">Complex case</a></td>
                                                    <td class="govuk-table__cell">Requires senior case worker</td>
                                                    <td class="govuk-table__cell">
                                                        <strong class="govuk-tag">Active</strong>
                                                    </td>
                                                  </tr>
                                                </tbody>
                                              </table>

                                              <br>

                                              <!--

                                              <div>
                                                <a href="create_case_flag_1.html"><button class="govuk-button" data-module="govuk-button">Create a case flag</button></a>
                                              </div>

                                              -->

                                        </div>
                                  </div>

                                  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="7">
                                        <div class="govuk-grid-row">

                                            <div class="govuk-grid-column-full">

                                              <h1 class="govuk-heading-xl" style="margin-bottom: 30px;">Case flags</h1>

                                              <br>

                                              <table class="govuk-table">
                                                <caption class="govuk-table__caption govuk-table__caption--m">Party flags</caption>
                                                <thead class="govuk-table__head">
                                                  <tr class="govuk-table__row">
                                                    <th scope="col" class="govuk-table__header" width="300">Flag</th>
                                                    <th scope="col" class="govuk-table__header" width="200">Name</th>
                                                    <!--
                                                    <th scope="col" class="govuk-table__header" width="200">Category</th>
                                                    <th scope="col" class="govuk-table__header" width="200">Sub Category</th>
                                                    -->
                                                  </tr>
                                                </thead>
                                                <tbody class="govuk-table__body">
                                                  <tr class="govuk-table__row">
                                                    <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state" style="text-decoration: none;">Vexatious litigan</a></td>
                                                    <td class="govuk-table__cell">John Smith</td>
                                                    <!--
                                                    <td class="govuk-table__cell"> </td>
                                                    <td class="govuk-table__cell"> </td>
                                                    -->
                                                  </tr>
                                                  <tr class="govuk-table__row">
                                                    <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state" style="text-decoration: none;">Foreign national offernder</a></td>
                                                    <td class="govuk-table__cell">Ann Coward</td>
                                                    <!--
                                                    <td class="govuk-table__cell"> </td>
                                                    <td class="govuk-table__cell"> </td>
                                                    -->
                                                  </tr>
                                                  <tr class="govuk-table__row">
                                                    <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state" style="text-decoration: none;">Reasonable adjustment</a></td>
                                                    <td class="govuk-table__cell">Peter Wilkinson</td>
                                                    <!--
                                                    <td class="govuk-table__cell">Language interpreter</td>
                                                    <td class="govuk-table__cell">Danish to English</td>
                                                    -->
                                                  </tr>
                                                </tbody>
                                              </table>

                                              <br><br>

                                              <table class="govuk-table">
                                                <caption class="govuk-table__caption govuk-table__caption--m">Case level flags</caption>
                                                <thead class="govuk-table__head">
                                                  <tr class="govuk-table__row">
                                                    <th scope="col" class="govuk-table__header" width="300">Flag</th>
                                                    <th scope="col" class="govuk-table__header" width="640">Description</th>
                                                  </tr>
                                                </thead>
                                                <tbody class="govuk-table__body">
                                                  <tr class="govuk-table__row">
                                                    <td td class="govuk-table__cell">Potential fraud</td>
                                                    <td class="govuk-table__cell">Possible faked documents provided</td>
                                                  </tr>
                                                  <tr class="govuk-table__row">
                                                    <td td class="govuk-table__cell">Complex case</td>
                                                    <td class="govuk-table__cell">Requires senior case worker</td>
                                                  </tr>
                                                </tbody>
                                              </table>

                                              <p style="padding: 0 0 1em 0;"></p>

                                              <!--

                                              <div>
                                                <a href="create_case_flag_1.html"><button class="govuk-button" data-module="govuk-button">Create a new case flag</button></a>
                                              </div>

                                              -->

                                            </div>

                                        </div>
                                    </div>

                                    <br><br>


                            <!--

                            <div class="govuk-tabs" data-module="govuk-tabs">
                                <h2 class="govuk-tabs__title">
                                    Contents
                                </h2>
                                <ul class="govuk-tabs__list">
                                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                                        <a class="govuk-tabs__tab" href="#event">
                                            History
                                        </a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                        <a class="govuk-tabs__tab" href="#">
                                            Petition
                                        </a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                        <a class="govuk-tabs__tab" href="#">
                                            AOS
                                        </a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                        <a class="govuk-tabs__tab" href="#">
                                            Outcome of Decree Nisi
                                        </a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                        <a class="govuk-tabs__tab" href="#">
                                            Documents
                                        </a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                        <a class="govuk-tabs__tab" href="#">
                                            Marriage Certificate
                                        </a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                        <a class="govuk-tabs__tab" href="#case_flags">
                                            Case flags
                                        </a>
                                    </li>
                                </ul>

                                <div class="govuk-tabs__panel" id="event" style="display: flex; padding: 0px; border-bottom: 0px; border-right: 0px; border-left: 0px;">
                                    <div style="margin-top: 20px;">
                                        <h2 class="govuk-heading-m">History</h2>
                                        <table class="govuk-table" style="width:600px; margin-right: 20px;">
                                            <thead class="govuk-table__head">
                                                <tr class="govuk-table__row">
                                                    <th scope="col" class="govuk-table__header">Event</th>
                                                    <th scope="col" class="govuk-table__header">Date</th>
                                                    <th scope="col" class="govuk-table__header">Author</th>
                                                </tr>
                                            </thead>
                                            <tbody class="govuk-table__body">
                                            
                                                <tr class="govuk-table__row" style="border-left: 4px solid #005ea5; background-color: rgba(0,94,165,0.2); ">
                                                    <td class="govuk-table__cell">&nbsp;&nbsp;<a href="">Case submitted</a></td>
                                                    <td class="govuk-table__cell" style="text-decoration: underline;">17 May 2020, 3:49:22 PM</td>
                                                    <td class="govuk-table__cell">Alex Smith</td>
                                                </tr>
                                            
                                            </tbody>
                                        </table>
                                    </div>
                                    <div style="width: 580px; border: 1px solid #bfc1c3; padding:10px; margin-top: 20px;">
                                        <h2 class="govuk-heading-m  govuk-!-margin-top-3 govuk-!-margin-bottom-4">Details</h2>
                                        <div style="display: flex;">
                                            <div style="width: 210px;">
                                                <p>Date</p>
                                                <p>Author</p>
                                                <p>End state</p>
                                                <p>Event</p>
                                                <p>Summary</p>
                                                <p>Comment</p>
                                            </div>
                                            
                                            <div>
                                                <p style="text-decoration: underline;">17 May 2020, 3:49:22 PM</p>
                                                <p>Alex Smith</p>
                                                <p>Solicitor - Awaiting Payment Confirmation</p>
                                                <p>Case submission</p>
                                                <p>-</p>
                                                <p>-</p>
                                            </div>
                                            
                                        </div>

                                    </div>

                                </div>

                                <div class="govuk-tabs__panel" id="case_flags" style="display: flex; padding: 0px; border-bottom: 0px; border-right: 0px; border-left: 0px;">

                                    <div class="govuk-grid-row">
                                        <div class="govuk-grid-column-full">

                                          <h1 class="govuk-heading-xl" style="margin-bottom: 30px;">Case flags</h1>

                                          <br>

                                          <table class="govuk-table">
                                            <caption class="govuk-table__caption govuk-table__caption--m">Party flags</caption>
                                            <thead class="govuk-table__head">
                                              <tr class="govuk-table__row">
                                                <th scope="col" class="govuk-table__header" width="300">Flag</th>
                                                <th scope="col" class="govuk-table__header" width="200">Name</th>
                                                <th scope="col" class="govuk-table__header" width="200">Category</th>
                                                <th scope="col" class="govuk-table__header" width="200">Sub Category</th>
                                              </tr>
                                            </thead>
                                            <tbody class="govuk-table__body">
                                              <tr class="govuk-table__row">
                                                <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state" style="text-decoration: none;">Vexatious litigan</a></td>
                                                <td class="govuk-table__cell">John Smith</td>
                                                <td class="govuk-table__cell"> </td>
                                                <td class="govuk-table__cell"> </td>
                                              </tr>
                                              <tr class="govuk-table__row">
                                                <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state" style="text-decoration: none;">Foreign national offernder</a></td>
                                                <td class="govuk-table__cell">Ann Coward</td>
                                                <td class="govuk-table__cell"> </td>
                                                <td class="govuk-table__cell"> </td>
                                              </tr>
                                              <tr class="govuk-table__row">
                                                <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state" style="text-decoration: none;">Reasonable adjustment</a></td>
                                                <td class="govuk-table__cell">Peter Wilkinson</td>
                                                <td class="govuk-table__cell">Language interpreter</td>
                                                <td class="govuk-table__cell">Danish to English</td>
                                              </tr>
                                            </tbody>
                                          </table>

                                          <br><br>

                                          <table class="govuk-table">
                                            <caption class="govuk-table__caption govuk-table__caption--m">Case level flags</caption>
                                            <thead class="govuk-table__head">
                                              <tr class="govuk-table__row">
                                                <th scope="col" class="govuk-table__header" width="300">Flag</th>
                                                <th scope="col" class="govuk-table__header" width="640">Description</th>
                                              </tr>
                                            </thead>
                                            <tbody class="govuk-table__body">
                                              <tr class="govuk-table__row">
                                                <td td class="govuk-table__cell">Potential fraud</td>
                                                <td class="govuk-table__cell">Possible faked documents provided</td>
                                              </tr>
                                              <tr class="govuk-table__row">
                                                <td td class="govuk-table__cell">Complex case</td>
                                                <td class="govuk-table__cell">Requires senior case worker</td>
                                              </tr>
                                            </tbody>
                                          </table>

                                          <p style="padding: 0 0 1em 0;"></p>

                                          <div>
                                            <a href="case_flags.html"><button class="govuk-button" data-module="govuk-button">Create a new case flag</button></a>
                                          </div>

                                        </div>
                                      </div>
                                    
                                </div>

                            </div>

                            -->

                        </div>

                    </main>

                </div>

            </main>

        </div>

    </div>

  </div>
    
</body>

</html>


<style type="text/css">
    .js-enabled .govuk-accordion__section-button {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;
    border-width: 0;
    color: #1d70b8;
    background: none;
    text-align: left;
    cursor: pointer;
    -webkit-appearance: none;
    }

    .js-enabled .govuk-accordion__section-button {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;
    border-width: 0;
    color: #1d70b8;
    background: none;
    text-align: left;
    cursor: pointer;
    -webkit-appearance: none;
    }

    .govuk-accordion__section-button {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.11111;
    display: inline-block;
    margin-bottom: 0;
    padding-top: 15px;
    }

    @media (min-width: 40.0625em)
    .govuk-accordion__section-heading {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.25;
    }

</style>


{% block footer %}
  {% include "includes/newfooter.html" %}
{% endblock %}