
{% extends "layout.html" %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/back.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl" style="margin-bottom: 30px;">Case flags</h1>

      <br>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Party flags</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" width="300">Flag</th>
            <th scope="col" class="govuk-table__header" width="200">Name</th>
            <th scope="col" class="govuk-table__header" width="200">Category</th>
            <th scope="col" class="govuk-table__header" width="200">Sub Category</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state" style="text-decoration: none;">Vexatious litigan</a></td>
            <td class="govuk-table__cell">John Smith</td>
            <td class="govuk-table__cell"> </td>
            <td class="govuk-table__cell"> </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state" style="text-decoration: none;">Foreign national offernder</a></td>
            <td class="govuk-table__cell">Ann Coward</td>
            <td class="govuk-table__cell"> </td>
            <td class="govuk-table__cell"> </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state" style="text-decoration: none;">Reasonable adjustment</a></td>
            <td class="govuk-table__cell">Peter Wilkinson</td>
            <td class="govuk-table__cell">Language interpreter</td>
            <td class="govuk-table__cell">Danish to English</td>
          </tr>
        </tbody>
      </table>

      <br><br>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Case level flags</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" width="300">Flag</th>
            <th scope="col" class="govuk-table__header" width="640">Description</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state" style="text-decoration: none;">Potential fraud</a></td>
            <td class="govuk-table__cell">Possible faked documents provided</td>
          </tr>
          <tr class="govuk-table__row">
            <td td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state" style="text-decoration: none;">Complex case</a></td>
            <td class="govuk-table__cell">Requires senior case worker</td>
          </tr>
        </tbody>
      </table>

      <p style="padding: 0 0 1em 0;"></p>

      <div>
        <a href="case_flags.html"><button class="govuk-button" data-module="govuk-button">Create a case flag</button></a>
      </div>

    </div>
  </div>

  <p style="padding: 0 0 2em 0;"></p>

{% endblock %}
