
{% block header %}
  {% include "includes/newheader.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
    
    <div style=" max-width:1300px; margin: 0 auto;">

        <div style=" max-width:1300px;  min-width:1300px;  margin: 20px 0px 0px 0px;  ">

            <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 25px;">
                        
                <div class="govuk-width-container">

                    <main class="" id="main-content" role="main">

                        <div class="govuk-grid-row" style="width:1300px; margin-left: -90px;">

                            <div class="" style="display: flex; justify-content: space-between; ">

                                <div>

                                    <span class="govuk-caption-l" style="padding-top: 0px">1234-5678-9012-3456</span>
                                  
                                    <h1 class="govuk-heading-xl">Smith v Peterson  &nbsp;&nbsp;&nbsp; </h1>

                                    <!--
                                    <span style="margin-bottom:50px; padding-top: 25px;"><a href="#">Print</a></span>
                                    -->

                                    <!--
                                    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                                        Print
                                    </button>
                                    -->

                                </div>

                                <div style="display: flex; align-items:right; padding-top: 10px;">
                                    <p class="govuk-!-margin-top-2">Next step &nbsp;</p>

                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="published" selected="">Select action</option>
                                        <option value="published">Submit amended application</option>
                                        <option value="published">Link respondent</option>
                                        <option value="published">Add Note</option>
                                        <option value="published">Upload document</option>
                                        <option value="updated">Stop representing a client</option>
                                        <option value="updated">Create a case flag</option>
                                        <option value="updated">Print</option>
                                    </select>

                                    <div>
                                        <a href="creator_create_flag.html">
                                            <button class="govuk-button govuk-!-margin-left-1" data-module="govuk-button">Go</button>
                                        </a>
                                    </div>

                                </div>

                            </div>

                            <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" >
                                <div class="govuk-notification-banner__header" >
                                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                                          Important
                                    </h2>
                                </div>
                                <div class="govuk-notification-banner__content" >
                                    <p class="govuk-notification-banner__heading" style="max-width: 1200px;">
                                        There are active flags on this case. <a href="creator_case_flags" class="govuk-link govuk-link--no-visited-state">View case flags</a>
                                        <!--
                                        <a href="case_flag_reviewer" class="govuk-link--no-visited-state">review</a>. 
                                        -->
                                    </p>
                                </div>
                            </div>

                            <div class="govuk-tabs" data-module="govuk-tabs">

                                  <h2 class="govuk-tabs__title">
                                    Contents
                                  </h2>

                                  <ul class="govuk-tabs__list">
                                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                                      <a class="govuk-tabs__tab" href="#">
                                        History
                                      </a>
                                    </li>
                                    
                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="creator_case_flags_populated">
                                        Case flags
                                      </a>
                                    </li>

                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="#2">
                                        Petition
                                      </a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="#3">
                                        AOS
                                      </a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="#4">
                                        Outcome of Decree Nisi
                                      </a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="#5">
                                        Documents
                                      </a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="#6">
                                        Marriage Certificate
                                      </a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="#8">
                                        Hearings
                                      </a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="#9">
                                        Case file
                                      </a>
                                    </li>
                                  </ul>

                                  <div class="govuk-tabs__panel" id="1">
                                        <div>

                                            <h2 class="govuk-heading-l" style="margin-top: 10px;">History</h2>

                                            <table class="govuk-table" style="width:600px; margin-right: 20px;">
                                                <thead class="govuk-table__head">
                                                    <tr class="govuk-table__row">
                                                        <th scope="col" class="govuk-table__header">Event</th>
                                                        <th scope="col" class="govuk-table__header">Date</th>
                                                        <th scope="col" class="govuk-table__header">Author</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="govuk-table__body">
                                                
                                                    <tr class="govuk-table__row" style="border-left: 4px solid #005ea5; background-color: rgba(0,94,165,0.2); ">
                                                        <td class="govuk-table__cell">&nbsp;&nbsp;<a href="">Case submitted</a></td>
                                                        <td class="govuk-table__cell" style="text-decoration: underline;">17 May 2020, 3:49:22 PM</td>
                                                        <td class="govuk-table__cell">Alex Smith</td>
                                                    </tr>
                                                
                                                </tbody>
                                            </table>
                                        </div>
                                        <div style="width: 580px; border: 1px solid #bfc1c3; padding:10px; margin-top: 20px;">
                                            <h2 class="govuk-heading-m  govuk-!-margin-top-3 govuk-!-margin-bottom-4">Details</h2>
                                            <div style="display: flex;">
                                                <div style="width: 210px;">
                                                    <p>Date</p>
                                                    <p>Author</p>
                                                    <p>End state</p>
                                                    <p>Event</p>
                                                    <p>Summary</p>
                                                    <p>Comment</p>
                                                </div>
                                                
                                                <div>
                                                    <p style="text-decoration: underline;">17 May 2020, 3:49:22 PM</p>
                                                    <p>Alex Smith</p>
                                                    <p>Solicitor - Awaiting Payment Confirmation</p>
                                                    <p>Case submission</p>
                                                    <p>-</p>
                                                    <p>-</p>
                                                </div>
                                                
                                            </div>

                                        </div>

                                    </div>
                                    
                                </div>

                            </div>

                        </div>

                    </main>

                </div>

            </main>

        </div>

    </div>

  </div>
    
</body>

</html>

{% block footer %}
  {% include "includes/newfooter.html" %}
{% endblock %}