
{% block header %}
  {% include "includes/newheader.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
    
    <div style=" max-width:1300px; margin: 0 auto;">

        <div style=" max-width:1300px;  min-width:1300px;  margin: 0px 0px 0px 0px;  ">

            <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 0px;">
                        

                <div class="govuk-width-container" style="margin-left: 80px">

                    <main class="" id="main-content" role="main">

                        <div class="govuk-grid-row">

                          <div class="govuk-grid-column-three-quarters">

                            <!--

                            <div class="" style="display: flex; justify-content: space-between; ">

                                <div style="display: flex; ">
                                    <p class="">: King v King  &nbsp; </p>

                                    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                                        Print
                                    </button>
                                </div>


                                <div style="display: flex; align-items:right">
                                    <p class="govuk-!-margin-top-2">Next step &nbsp;</p>

                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="published" selected="">Select action</option>
                                        <option value="published">Submit amended application</option>
                                        <option value="published">Link respondent</option>
                                        <option value="published">Add Note</option>
                                        <option value="published">Upload document</option>
                                        <option value="updated">Stop representing a client</option>
                                    </select>

                                    <form name="aspnetForm" method="post" id="aspnetForm" autocomplete="off">
                                            <button class="govuk-button govuk-!-margin-left-1" data-module="govuk-button">
                                                Go
                                            </button>
                                    </form>
                                </div>

                            </div>

                            <div style="border-bottom: 1px solid #b1b4b6;padding-top: 0px;padding-bottom: 10px;"></div>

                            -->

                            <div>

                                <a href="javascript:history.back()" class="govuk-back-link">Back</a>

                                <span class="govuk-caption-l" style="padding-top: 20px;">Create a case flag</span>

                                <h1 class="govuk-heading-xl" style="margin-bottom: 30px;">Select a language interpreter</h1>

                                <div class="govuk-form-group">
                                  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">

                                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

                                      <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                                        <label class="govuk-label govuk-radios__label" for="contact">
                                          Albanian
                                        </label>
                                      </div>

                                      <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                                        <label class="govuk-label govuk-radios__label" for="contact">
                                          Chinese
                                        </label>
                                      </div>

                                      <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                                        <label class="govuk-label govuk-radios__label" for="contact">
                                          French
                                        </label>
                                      </div>

                                      <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                                        <label class="govuk-label govuk-radios__label" for="contact">
                                          German
                                        </label>
                                      </div>
                                  
                                      <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                                        <label class="govuk-label govuk-radios__label" for="contact">
                                          Portugese
                                        </label>
                                      </div>

                                      <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                                        <label class="govuk-label govuk-radios__label" for="contact">
                                          Spanish
                                        </label>
                                      </div>

                                      <div class="govuk-radios__item" onClick="window.location = 'creator_create_party_flag_5.html';">
                                        <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
                                        <label class="govuk-label govuk-radios__label" for="contact-2">
                                          Other
                                        </label>
                                      </div>

                                      </div>
                                      <!--
                                      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
                                        <div class="govuk-form-group">
                                          <label class="govuk-label" for="contact-by-phone">
                                            Phone number
                                          </label>
                                          <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contact-by-phone" type="tel" autocomplete="tel">
                                        </div>
                                      </div>
                                      -->

                                    </div>
                                  </fieldset>
                                </div>

                                <br>

                                <div>
                                    <a href="creator_create_party_flag_6.html"><button class="govuk-button" data-module="govuk-button">Continue</button></a>
                                </div>

                                <br><br><br><br><br><br><br><br><br><br><br><br>

                                <a href="javascript:history.back()" class="govuk-back-link">Back</a>

                                <span class="govuk-caption-l" style="padding-top: 20px;">Create a case flag</span>

                                <h1 class="govuk-heading-xl" style="margin-bottom: 30px;">Select a language interpreter</h1>

                                <div class="govuk-form-group">
                                  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">

                                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

                                      <p><a href="#">A</a> &nbsp; B &nbsp; <a href="#">C</a> &nbsp; D &nbsp; E &nbsp; <a href="#">F</a> &nbsp; <a href="#">G</a> &nbsp; H &nbsp; I &nbsp; J &nbsp; K &nbsp; L &nbsp; M &nbsp; N &nbsp; O &nbsp; <a href="#">P</a> &nbsp; Q &nbsp; R &nbsp; <a href="#">S</a> &nbsp; T &nbsp; U &nbsp; V &nbsp; W &nbsp; X &nbsp; Y &nbsp; Z</p>

                                      <br><br>

                                      <hr class="govuk-section-break govuk-section-break--visible">

                                      <br><br>

                                      <p><strong>A</strong></p>

                                      <br>

                                      <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                                        <label class="govuk-label govuk-radios__label" for="contact">
                                          Albanian
                                        </label>
                                      </div>

                                      <br><br>

                                      <hr class="govuk-section-break govuk-section-break--visible">

                                      <br><br>

                                      <p><strong>C</strong></p>

                                      <br>

                                      <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                                        <label class="govuk-label govuk-radios__label" for="contact">
                                          Cantonese
                                        </label>
                                      </div>

                                      <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                                        <label class="govuk-label govuk-radios__label" for="contact">
                                          Chinese
                                        </label>
                                      </div>

                                      <br><br>

                                      <hr class="govuk-section-break govuk-section-break--visible">

                                      <br><br>

                                      <p><strong>F</strong></p>

                                      <br>

                                      <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                                        <label class="govuk-label govuk-radios__label" for="contact">
                                          French
                                        </label>
                                      </div>

                                      <br><br>

                                      <hr class="govuk-section-break govuk-section-break--visible">

                                      <br><br>

                                      <p><strong>G</strong></p>

                                      <br>

                                      <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                                        <label class="govuk-label govuk-radios__label" for="contact">
                                          German
                                        </label>
                                      </div>

                                      <br><br>

                                      <hr class="govuk-section-break govuk-section-break--visible">

                                      <br><br>

                                      <p><strong>P</strong></p>

                                      <br>
                                  
                                      <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                                        <label class="govuk-label govuk-radios__label" for="contact">
                                          Portugese
                                        </label>
                                      </div>

                                      <br><br>

                                      <hr class="govuk-section-break govuk-section-break--visible">

                                      <br><br>

                                      <p><strong>S</strong></p>

                                      <br>

                                      <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                                        <label class="govuk-label govuk-radios__label" for="contact">
                                          Spanish
                                        </label>
                                      </div>

                                      <br><br>

                                      <hr class="govuk-section-break govuk-section-break--visible">

                                      <br><br>

                                      <div class="govuk-radios__item" onClick="window.location = 'creator_create_party_flag_6.html';">
                                        <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
                                        <label class="govuk-label govuk-radios__label" for="contact-2">
                                          Other
                                        </label>

                                      </div>

                                      <!--
                                      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
                                        <div class="govuk-form-group">
                                          <label class="govuk-label" for="contact-by-phone">
                                            Phone number
                                          </label>
                                          <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contact-by-phone" type="tel" autocomplete="tel">
                                        </div>
                                      </div>
                                      -->

                                    </div>
                                  </fieldset>
                                </div>

                                <br>

                                <div>
                                    <a href="creator_create_party_flag_6.html"><button class="govuk-button" data-module="govuk-button">Continue</button></a>
                                </div>

                                <br><br><br><br><br><br><br><br><br><br><br><br>

                                <a href="javascript:history.back()" class="govuk-back-link">Back</a>

                                <span class="govuk-caption-l" style="padding-top: 20px;">Create a case flag</span>

                                <h1 class="govuk-heading-xl" style="margin-bottom: 30px;">Select a language interpreter</h1>

                                <div class="govuk-form-group">
                                  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">

                                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

                                      <p>Most popular languages:</p>

                                      <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                                        <label class="govuk-label govuk-radios__label" for="contact">
                                          French
                                        </label>
                                      </div>

                                      <div class="govuk-radios__item" style="margin-bottom: 0px;">
                                        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                                        <label class="govuk-label govuk-radios__label" for="contact">
                                          Spanish
                                        </label>
                                      </div>

                                      <br><br>

                                      <hr class="govuk-section-break govuk-section-break--visible">

                                      <br><br>

                                      <p>Rest of languages:</p>

                                      <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                                        <label class="govuk-label govuk-radios__label" for="contact">
                                          Albanian
                                        </label>
                                      </div>

                                      <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                                        <label class="govuk-label govuk-radios__label" for="contact">
                                          Chinese
                                        </label>
                                      </div>

                                      <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                                        <label class="govuk-label govuk-radios__label" for="contact">
                                          German
                                        </label>
                                      </div>
                                  
                                      <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                                        <label class="govuk-label govuk-radios__label" for="contact">
                                          Portugese
                                        </label>
                                      </div>

                                      <div class="govuk-radios__item" onClick="window.location = 'creator_create_party_flag_6.html';">
                                        <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
                                        <label class="govuk-label govuk-radios__label" for="contact-2">
                                          Other
                                        </label>
                                      </div>

                                      <div class="govuk-radios__item" onClick="window.location = 'creator_create_party_flag_6.html';">
                                        <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
                                        <label class="govuk-label govuk-radios__label" for="contact-2">
                                          Other
                                        </label>

                                      </div>
                                      <!--
                                      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
                                        <div class="govuk-form-group">
                                          <label class="govuk-label" for="contact-by-phone">
                                            Phone number
                                          </label>
                                          <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contact-by-phone" type="tel" autocomplete="tel">
                                        </div>
                                      </div>
                                      -->

                                    </div>
                                  </fieldset>
                                </div>

                                <br>

                                <div>
                                    <a href="creator_create_party_flag_5.html"><button class="govuk-button" data-module="govuk-button">Continue</button></a>
                                </div>

                                <br><br><br><br><br><br><br><br><br><br><br><br>

                                <a href="javascript:history.back()" class="govuk-back-link">Back</a>

                                <span class="govuk-caption-l" style="padding-top: 20px;">Create a case flag</span>

                                <h1 class="govuk-heading-xl" style="margin-bottom: 30px;">Select a language interpreter</h1>

                                <div class="govuk-form-group">
                                  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">

                                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

                                      <div class="hmcts-search">
                                        <form action="" method="get">

                                          <div class="govuk-form-group">

                                            <label class="govuk-label hmcts-search__label govuk-label--m" for="bill">
                                              Search a language
                                            </label>

                                            <div id="bill-hint" class="govuk-hint hmcts-search__hint ">
                                              Enter the language that your are looking for. When autocomplete results are available, select the option. If not available results for your search, select one language in the list below.
                                            </div>

                                            <input class="govuk-input hmcts-search__input" id="bill" name="bill" type="search" aria-describedby="bill-hint" style="width: 400px;">

                                            <button class="govuk-button hmcts-search__button " data-module="govuk-button">
                                              Select
                                            </button>

                                          </div>

                                        </form>
                                      </div> 

                                      <br><br>

                                      <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                                        <label class="govuk-label govuk-radios__label" for="contact">
                                          Albanian
                                        </label>
                                      </div>

                                      <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                                        <label class="govuk-label govuk-radios__label" for="contact">
                                          Chinese
                                        </label>
                                      </div>

                                      <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                                        <label class="govuk-label govuk-radios__label" for="contact">
                                          French
                                        </label>
                                      </div>

                                      <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                                        <label class="govuk-label govuk-radios__label" for="contact">
                                          German
                                        </label>
                                      </div>
                                  
                                      <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                                        <label class="govuk-label govuk-radios__label" for="contact">
                                          Portugese
                                        </label>
                                      </div>

                                      <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                                        <label class="govuk-label govuk-radios__label" for="contact">
                                          Spanish
                                        </label>
                                      </div>

                                      <div class="govuk-radios__item" onClick="window.location = 'creator_create_party_flag_6.html';">
                                        <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
                                        <label class="govuk-label govuk-radios__label" for="contact-2">
                                          Other
                                        </label>
                                      </div>

                                      <div class="govuk-radios__item" onClick="window.location = 'creator_create_party_flag_6.html';">
                                        <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
                                        <label class="govuk-label govuk-radios__label" for="contact-2">
                                          Other
                                        </label>

                                      </div>
                                      <!--
                                      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
                                        <div class="govuk-form-group">
                                          <label class="govuk-label" for="contact-by-phone">
                                            Phone number
                                          </label>
                                          <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contact-by-phone" type="tel" autocomplete="tel">
                                        </div>
                                      </div>
                                      -->

                                    </div>
                                  </fieldset>
                                </div>

                                <br>

                                <div>
                                    <a href="creator_create_party_flag_6.html"><button class="govuk-button" data-module="govuk-button">Continue</button></a>
                                </div>

                                <p style="padding: 0 0 2em 0;"></p>

                            </div>

                          </div>

                        </div>

                    </main>

                </div>

            </main>

        </div>

    </div>

  </div>

</body>

</html>


{% block footer %}
  {% include "includes/newfooter.html" %}
{% endblock %}
