
{% block header %}
  {% include "includes/newheader.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
    
    <div style=" max-width:1300px; margin: 0 auto;">

        <div style=" max-width:1300px;  min-width:1300px;  margin: 0px 0px 0px 0px;  ">

            <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 0px;">
                        

                <div class="govuk-width-container" style="margin-left: 80px">

                    <main class="" id="main-content" role="main">

                        <div class="govuk-grid-row">

                            <div class="govuk-grid-column-two-thirds">

                                <!--

                                <div class="" style="display: flex; justify-content: space-between; ">

                                    <div style="display: flex; ">
                                        <p class="">: King v King  &nbsp; </p>

                                        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                                            Print
                                        </button>
                                    </div>


                                    <div style="display: flex; align-items:right">
                                        <p class="govuk-!-margin-top-2">Next step &nbsp;</p>

                                        <select class="govuk-select" id="sort" name="sort">
                                            <option value="published" selected="">Select action</option>
                                            <option value="published">Submit amended application</option>
                                            <option value="published">Link respondent</option>
                                            <option value="published">Add Note</option>
                                            <option value="published">Upload document</option>
                                            <option value="updated">Stop representing a client</option>
                                        </select>

                                        <form name="aspnetForm" method="post" id="aspnetForm" autocomplete="off">
                                                <button class="govuk-button govuk-!-margin-left-1" data-module="govuk-button">
                                                    Go
                                                </button>
                                        </form>
                                    </div>

                                </div>

                                <div style="border-bottom: 1px solid #b1b4b6;padding-top: 0px;padding-bottom: 10px;"></div>

                                -->

                                <p style="padding: 0 0 2em 0;"></p>

                                <div>

                                    <div class="govuk-panel govuk-panel--confirmation">
                                      <h1 class="govuk-panel__title">
                                        Flag created
                                      </h1>
                                   
                                      <div class="govuk-panel__body">
                                        This flag has been added to the case
                                      </div>
                                 
                                    </div>

                                    <p class="govuk-body"></p>

                                    <h2 class="govuk-heading-m">What happens next</h2>

                                    <p>
                                      The flag has been added but the approver could need to review and confirm the case flag before it becomes visible on the case.
                                    </p>

                                    <p class="govuk-body">
                                      You can <a href="creator_create_flag" class="govuk-link govuk-link--no-visited-state">create another flag</a> or 
                                      <a href="creator_case_flags_populated" class="govuk-link govuk-link--no-visited-state">return to the case</a>.
                                    </p>

                                    <br>

                                    <p style="padding: 0 0 2em 0;"></p>

                                </div>

                            </div>

                        </div>

                    </main>

                </div>

            </main>

        </div>

    </div>

  </div>

</body>

</html>

{% block footer %}
  {% include "includes/newfooter.html" %}
{% endblock %}
        