
{% block header %}
  {% include "includes/newheader.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
    
    <div style=" max-width:1300px; margin: 0 auto;">

        <div style=" max-width:1300px;  min-width:1300px;  margin: 0px 0px 0px 0px;  ">

            <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 0px;">
                        

                <div class="govuk-width-container" style="margin-left: 80px">

                    <main class="" id="main-content" role="main">

                        <div class="govuk-grid-row">

                            <div class="govuk-grid-column-two-thirds">

                                <!--

                                <div class="" style="display: flex; justify-content: space-between; ">

                                    <div style="display: flex; ">
                                        <p class="">: King v King  &nbsp; </p>

                                        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                                            Print
                                        </button>
                                    </div>


                                    <div style="display: flex; align-items:right">
                                        <p class="govuk-!-margin-top-2">Next step &nbsp;</p>

                                        <select class="govuk-select" id="sort" name="sort">
                                            <option value="published" selected="">Select action</option>
                                            <option value="published">Submit amended application</option>
                                            <option value="published">Link respondent</option>
                                            <option value="published">Add Note</option>
                                            <option value="published">Upload document</option>
                                            <option value="updated">Stop representing a client</option>
                                        </select>

                                        <form name="aspnetForm" method="post" id="aspnetForm" autocomplete="off">
                                                <button class="govuk-button govuk-!-margin-left-1" data-module="govuk-button">
                                                    Go
                                                </button>
                                        </form>
                                    </div>

                                </div>

                                <div style="border-bottom: 1px solid #b1b4b6;padding-top: 0px;padding-bottom: 10px;"></div>

                                -->

                                <div>

                                    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

                                    <span class="govuk-caption-l" style="padding-top: 20px;">Create a case flag</span>

                                    <h1 class="govuk-heading-xl" style="margin-bottom: 30px;">Check your answers before saving the flag</h1>

                                    <!--
                                    <h2 class="govuk-heading-m">Personal details</h2>
                                    -->

                                    <br>

                                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                                      <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                          Flag target
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                          Party flag
                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                          <a class="govuk-link" href="create_case_flag_1">
                                            Change<span class="govuk-visually-hidden"> Flag target</span>
                                          </a>
                                        </dd>
                                      </div><div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                          Flag type
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                          Reasonable adjustments
                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                          <a class="govuk-link" href="create_case_flag_2">
                                            Change<span class="govuk-visually-hidden"> Flag type</span>
                                          </a>
                                        </dd>
                                      </div>
                                      <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                          Flag category
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                          Caesar
                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                          <a class="govuk-link" href="create_case_flag_3">
                                            Change<span class="govuk-visually-hidden"> Flag category</span>
                                          </a>
                                        </dd>
                                      </div>
                                      <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                          Flag sub category
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                          Doloris
                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                          <a class="govuk-link" href="create_case_flag_4">
                                            Change<span class="govuk-visually-hidden"> Flag sub category</span>
                                          </a>
                                        </dd>
                                      </div>
                                      <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                          Flag description
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                          Lorum ipsum colabra est
                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                          <a class="govuk-link" href="create_case_flag_5">
                                            Change<span class="govuk-visually-hidden"> Flag description</span>
                                          </a>
                                        </dd>
                                      </div>
                                      <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                          Reasons for this flag
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                          Roman senatus sumus
                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                          <a class="govuk-link" href="create_case_flag_6">
                                            Change<span class="govuk-visually-hidden"> Reasons for this flag</span>
                                          </a>
                                        </dd>
                                      </div>
                                    </dl>

                                    <h2 class="govuk-heading-m">Now save the flag</h2>

                                    <p class="govuk-body">By saving this flag you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>


                                    <div>
                                        <a href="create_case_flag_8.html"><button class="govuk-button" data-module="govuk-button">Save flag</button></a>
                                    </div>

                                    <p style="padding: 0 0 2em 0;"></p>

                                </div>

                            </div>

                        </div>

                    </main>

                </div>

            </main>

        </div>

    </div>

  </div>

</body>

</html>

{% block footer %}
  {% include "includes/newfooter.html" %}
{% endblock %}
   