
{% block header %}
  {% include "includes/newheader.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
    
    <div style=" max-width:1300px; margin: 0 auto;">

        <div style=" max-width:1300px;  min-width:1300px;  margin: 0px 0px 0px 0px;  ">

            <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 0px;">
                        

                <div class="govuk-width-container" style="margin-left: 80px">

                    <main class="" id="main-content" role="main">

                        <div class="govuk-grid-row">

                          <div class="govuk-grid-column-two-thirds">

                            <!--

                            <div class="" style="display: flex; justify-content: space-between; ">

                                <div style="display: flex; ">
                                    <p class="">: King v King  &nbsp; </p>

                                    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                                        Print
                                    </button>
                                </div>


                                <div style="display: flex; align-items:right">
                                    <p class="govuk-!-margin-top-2">Next step &nbsp;</p>

                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="published" selected="">Select action</option>
                                        <option value="published">Submit amended application</option>
                                        <option value="published">Link respondent</option>
                                        <option value="published">Add Note</option>
                                        <option value="published">Upload document</option>
                                        <option value="updated">Stop representing a client</option>
                                    </select>

                                    <form name="aspnetForm" method="post" id="aspnetForm" autocomplete="off">
                                            <button class="govuk-button govuk-!-margin-left-1" data-module="govuk-button">
                                                Go
                                            </button>
                                    </form>
                                </div>

                            </div>

                            <div style="border-bottom: 1px solid #b1b4b6;padding-top: 0px;padding-bottom: 10px;"></div>

                            -->

                            <div>

                                <a href="javascript:history.back()" class="govuk-back-link">Back</a>

                                <span class="govuk-caption-l" style="padding-top: 20px;">Create party level flag</span>

                                <h1 class="govuk-heading-xl" style="margin-bottom: 30px;">Selec category for  foreign national offender</h1>

                                <div class="govuk-form-group">
                                  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                                    <!--
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                      <h1 class="govuk-fieldset__heading">
                                        How would you prefer to be contacted?
                                      </h1>
                                    </legend>
                                    -->
                                    <!--
                                    <div id="contact-hint" class="govuk-hint">
                                      Select one option.
                                    </div>
                                    -->
                                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                                      <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                                        <label class="govuk-label govuk-radios__label" for="contact">
                                          Language interpreter
                                        </label>
                                      </div>
                                      <!--
                                      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
                                        <div class="govuk-form-group">
                                          <label class="govuk-label" for="contact-by-email">
                                            Email address
                                          </label>
                                          <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contact-by-email" type="email" spellcheck="false" autocomplete="email">
                                        </div>
                                      </div>
                                      -->
                                      <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
                                        <label class="govuk-label govuk-radios__label" for="contact-2">
                                          Other
                                        </label>
                                      </div>
                                      <!--
                                      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
                                        <div class="govuk-form-group">
                                          <label class="govuk-label" for="contact-by-phone">
                                            Phone number
                                          </label>
                                          <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contact-by-phone" type="tel" autocomplete="tel">
                                        </div>
                                      </div>
                                      -->

                                    </div>
                                  </fieldset>
                                </div>

                                <br>

                                <div>
                                    <a href="proposer_create_party_flag_4.html"><button class="govuk-button" data-module="govuk-button">Continue</button></a>
                                </div>

                                <p style="padding: 0 0 2em 0;"></p>

                            </div>

                          </div>

                        </div>

                    </main>

                </div>

            </main>

        </div>

    </div>

  </div>

</body>

</html>

{% block footer %}
  {% include "includes/newfooter.html" %}
{% endblock %}
        