
{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <div>
        <h1 class="govuk-heading-xl" style="margin-bottom: 20px;">Prototype user scenarios <!-- <span class="govuk-caption-m">Last update: 12 August 2021</span> --> </h1> 
        <strong class="govuk-tag">WORK IN PROGRESS</strong>
      </div> 

      <br>
      <br>
      <br>
      <br>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" width="120">User</th>
            <th scope="col" class="govuk-table__header" width="600">Scenario</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" width="250px;"><strong>Flag creator</strong><br>(no need for review)</td>
            <td class="govuk-table__cell"><a href="creator_case_flags" class="govuk-link govuk-link--no-visited-state" style="text-decoration: none;">Create a party level flag</a> <br> <a href="#" class="govuk-link govuk-link--no-visited-state" style="text-decoration: none;">Create multiple case level flags (tbd)</a> </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Flag proposer</strong><br>(need to be reviewed)</td>
            <td class="govuk-table__cell"><a href="proposer_case_flags" class="govuk-link govuk-link--no-visited-state" style="text-decoration: none;">Propose a party level flag</a> <br> <a href="#" class="govuk-link govuk-link--no-visited-state" style="text-decoration: none;">Create multiple case level flags (tbd)</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Flag reviewer</strong></td>
            <td class="govuk-table__cell"><a href="reviewer_case_flags_populated" class="govuk-link govuk-link--no-visited-state" style="text-decoration: none;">View case flag</a> <br> <a href="#" class="govuk-link govuk-link--no-visited-state" style="text-decoration: none;">Approve/denied case flag (tbd)</a> </td>
          </tr>
        </tbody>
      </table>

  </div>

</div>

<p style="padding: 0 0 4em 0;"></p>

{% endblock %}
