
{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <div>
        <h1 class="govuk-heading-xl" style="margin-bottom: 20px;">Prototypes by user <!-- <span class="govuk-caption-m">Last update: 12 August 2021</span> --> </h1> 
        <strong class="govuk-tag">WORK IN PROGRESS</strong>
      </div> 

      <br>
      <br>
      <br>
      <br>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">User</th>
            <th scope="col" class="govuk-table__header">Scenario</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" width="250px;"><a href="#" class="govuk-link govuk-link--no-visited-state" style="text-decoration: none;">Flag creator</a></td>
            <td class="govuk-table__cell">No need for approval</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="case_details" class="govuk-link govuk-link--no-visited-state" style="text-decoration: none;">Flag proposer</a></td>
            <td class="govuk-table__cell">Need approval</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="case_flags_populated_reviewer" class="govuk-link govuk-link--no-visited-state" style="text-decoration: none;">Flag approver</a></td>
            <td class="govuk-table__cell">Approve a proposed flag </td>
          </tr>
        </tbody>
      </table>

  </div>

</div>

<p style="padding: 0 0 4em 0;"></p>

{% endblock %}
