
{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <div>
        <h1 class="govuk-heading-xl" style="margin-bottom: 20px;">Prototypes by user <!-- <span class="govuk-caption-m">Last update: 12 August 2021</span> --> </h1> 
        <strong class="govuk-tag">WORK IN PROGRESS</strong>
      </div> 

      <br>
      <br>
      <br>
      <br>

      <a href="case_details" class="govuk-!-font-weight-bold">
         <button class="govuk-button govuk-button--secondary" data-module="govuk-button" style="width: 300px;">
          Case flag creator pages
        </button>
      </a>

      <br>

      <a href="case_flags_populated_reviewer" class="govuk-!-font-weight-bold">
         <button class="govuk-button govuk-button--secondary" data-module="govuk-button" style="width: 300px;">
          Case flag approver pages
        </button>
      </a>

  </div>

</div>

<p style="padding: 0 0 4em 0;"></p>

{% endblock %}
