
{% block header %}
  {% include "includes/newheader.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
    
    <div style=" max-width:1300px; margin: 0 auto;">

        <div style=" max-width:1300px;  min-width:1300px;  margin: 0px 0px 0px 0px;  ">

            <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 0px;">
                        

                <div class="govuk-width-container" style="margin-left: 80px">

                    <main class="" id="main-content" role="main">

                        <div class="govuk-grid-row">

                            <div class="govuk-grid-column-two-thirds">

                                <div>

                                    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

                                    <span class="govuk-caption-l" style="padding-top: 20px;">Mark case as restricted</span>

                                    <h1 class="govuk-heading-xl" style="margin-bottom: 30px;">Before you start </h1>

                                    <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
                                      <div class="govuk-form-group">
                                        <!--
                                        <p><strong>You are about mark this case as restricte.</strong></p>
                                        -->
                                        <p>Restricted cases will not appear in search results.</p>

                                        <p>They can only be accessed by people who have been given the right permissions.</p>
                                        
                                      </div>
                                    </div>

                                    <br>

                                    <div>
                                        <a href="case_user_mark_case_restricted_6.html"><button class="govuk-button" data-module="govuk-button">Continue</button></a>
                                    </div>

                                    <p style="padding: 0 0 2em 0;"></p>

                                </div>

                            </div>

                        </div>

                    </main>

                </div>

            </main>

        </div>

    </div>

  </div>

</body>

</html>

{% block footer %}
  {% include "includes/newfooter.html" %}
{% endblock %}
        