
{% block header %}
  {% include "includes/newheader.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
    
    <div style=" max-width:1300px; margin: 0 auto;">

        <div style=" max-width:1300px;  min-width:1300px;  margin: 20px 0px 0px 0px;  ">

            <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 25px;">
                        
                <div class="govuk-width-container">

                    <main class="" id="main-content" role="main">

                        <div class="govuk-grid-row" style="width:1300px; margin-left: -90px;">

                            <div class="" style="display: flex; justify-content: space-between; ">

                                <div>

                                    <span class="govuk-caption-l" style="padding-top: 0px">1234-5678-9012-3456</span>
                                  
                                    <h1 class="govuk-heading-xl">Smith v Peterson  &nbsp;&nbsp;&nbsp; </h1>

                                    <!--
                                    <span style="margin-bottom:50px; padding-top: 25px;"><a href="#">Print</a></span>
                                    -->

                                    <!--
                                    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                                        Print
                                    </button>
                                    -->

                                </div>

                                <div style="display: flex; align-items:right; padding-top: 10px;">
                                    <p class="govuk-!-margin-top-2">Next step &nbsp;</p>

                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="published" selected="">Select action</option>
                                        <option value="published">Submit amended application</option>
                                        <option value="published">Link respondent</option>
                                        <option value="published">Add Note</option>
                                        <option value="published">Upload document</option>
                                        <option value="updated">Stop representing a client</option>
                                        <option value="updated">Create a case flag</option>
                                        <option value="updated">Manage case flags</option>
                                        <option value="updated">Print</option>
                                    </select>

                                    <div>
                                        <a href="creator_create_flag.html">
                                            <button class="govuk-button govuk-!-margin-left-1" data-module="govuk-button">Go</button>
                                        </a>
                                    </div>

                                </div>

                            </div>

                            <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" style="border: 5px solid #d4351c; background-color: #d4351c;">
                                <div class="govuk-notification-banner__header" >
                                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                                          Important
                                    </h2>
                                </div>
                                <div class="govuk-notification-banner__content" style="position: relative;">
                                    <p class="govuk-notification-banner__heading" style="max-width: 1200px;"> 
                                        <span style="font-family: GDS Transport,arial,sans-serif;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-weight: 700;-webkit-box-sizing: border-box;box-sizing: border-box;display: inline-block;position: absolute;left: 0;min-width: 35px;min-height: 35px;margin-top: -7px;border: 3px solid #0b0c0c;border-radius: 50%;color: #fff;background: #0b0c0c;font-size: 30px;line-height: 29px;text-align: center;-webkit-user-select: none;-ms-user-select: none;-moz-user-select: none;user-select: none;margin-left: 20px;margin-top: 0px;">!</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        There are 5 active flags on this case. <a href="creator_case_flags_populated_other" class="govuk-link govuk-link--no-visited-state">View case flags</a>
                                        <!--
                                        <a href="case_flag_reviewer" class="govuk-link--no-visited-state">review</a>. 
                                        -->
                                    </p>
                                </div>
                            </div>

                            <div class="govuk-tabs" data-module="govuk-tabs">

                                  <h2 class="govuk-tabs__title">
                                    Contents
                                  </h2>

                                  <ul class="govuk-tabs__list">
                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="creator_history_2b">
                                        History
                                      </a>
                                    </li>
                                    
                                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                                      <a class="govuk-tabs__tab" href="#7">
                                        Case flags
                                      </a>
                                    </li>

                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="#2">
                                        Petition
                                      </a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="#3">
                                        AOS
                                      </a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="#4">
                                        Outcome of Decree Nisi
                                      </a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="#5">
                                        Documents
                                      </a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="#6">
                                        Marriage Certificate
                                      </a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="#8">
                                        Hearings
                                      </a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="#9">
                                        Case file
                                      </a>
                                    </li>
                                  </ul>

                                  <div class="govuk-tabs__panel" id="1">
                                        <div>
                                            
                                            <h2 class="govuk-heading-l" style="margin-top: 10px;">Case flags</h2>

                                            <h3 class="govuk-heading-m" style="margin-bottom: 10px;">Party level flags</h3>

                                            <table class="govuk-table">
                                                <thead class="govuk-table__head">
                                                  <tr class="govuk-table__row">
                                                    <th scope="col" class="govuk-table__header" width="300">John Smith</th>
                                                    <th scope="col" class="govuk-table__header" width="550">Reasons for this flag</th>
                                                    <th scope="col" class="govuk-table__header" width="150">Creation date</th>
                                                    <th scope="col" class="govuk-table__header" width="150">Last modified</th>
                                                    <th scope="col" class="govuk-table__header" width="100">Flag status</th>
                                                  </tr>
                                                </thead>
                                                <tbody class="govuk-table__body">
                                                  <tr class="govuk-table__row">
                                                    <td class="govuk-table__cell">Other<br>(Medical issues)</td>
                                                    <td class="govuk-table__cell">Claimant's health issues could limit the hearing time</td>
                                                    <td class="govuk-table__cell">14 Sep 2021</td>
                                                    <td class="govuk-table__cell">14 Sep 2021</td>
                                                    <td class="govuk-table__cell"><strong class="govuk-tag">Active</strong></td>
                                                  </tr>
                                                  <tr class="govuk-table__row">
                                                    <td class="govuk-table__cell">Vexatious litigant</td>
                                                    <td class="govuk-table__cell">Serial case creator</td>
                                                    <td class="govuk-table__cell">12 Sep 2021</td>
                                                    <td class="govuk-table__cell">12 Sep 2021</td>
                                                    <td class="govuk-table__cell"><strong class="govuk-tag">Active</strong></td>
                                                  </tr>
                                                  <tr class="govuk-table__row">
                                                    <td class="govuk-table__cell">Wheel chair access</td>
                                                    <td class="govuk-table__cell"></td>
                                                    <td class="govuk-table__cell">09 Sep 2021</td>
                                                    <td class="govuk-table__cell">09 Sep 2021</td>
                                                    <td class="govuk-table__cell"><strong class="govuk-tag">Active</strong></td>
                                                  </tr>
                                                </tbody>
                                              </table>

                                              <table class="govuk-table">
                                                <thead class="govuk-table__head">
                                                  <tr class="govuk-table__row">
                                                    <th scope="col" class="govuk-table__header" width="300">Ann Peterson</th>
                                                    <th scope="col" class="govuk-table__header" width="550">Reasons for this flag</th>
                                                    <th scope="col" class="govuk-table__header" width="150">Creation date</th>
                                                    <th scope="col" class="govuk-table__header" width="150">Last modified</th>
                                                    <th scope="col" class="govuk-table__header" width="100">Flag status</th>
                                                  </tr>
                                                </thead>
                                                <tbody class="govuk-table__body">
                                                  <tr class="govuk-table__row">
                                                    <td class="govuk-table__cell">Foreign national offender</td>
                                                    <td class="govuk-table__cell">Flight risk</td>
                                                    <td class="govuk-table__cell">07 Sep 2021</td>
                                                    <td class="govuk-table__cell">07 Sep 2021</td>
                                                    <td class="govuk-table__cell">
                                                        <strong class="govuk-tag govuk-tag--grey">Inactive</strong>
                                                    </td>
                                                  </tr>
                                                </tbody>
                                              </table>

                                              <br>

                                              <h3 class="govuk-heading-m" style="margin-bottom: 10px;">Case level flags</h3>

                                              <table class="govuk-table">
                                                <thead class="govuk-table__head">
                                                  <tr class="govuk-table__row">
                                                    <th scope="col" class="govuk-table__header" width="300">Smith v Peterson</th>
                                                    <th scope="col" class="govuk-table__header" width="550">Reasons for this flag</th>
                                                    <th scope="col" class="govuk-table__header" width="150">Creation date</th>
                                                    <th scope="col" class="govuk-table__header" width="150">Last modified</th>
                                                    <th scope="col" class="govuk-table__header" width="100">Flag status</th>
                                                  </tr>
                                                </thead>
                                                <tbody class="govuk-table__body">
                                                  <tr class="govuk-table__row">
                                                    <td td class="govuk-table__cell">Potentially violent person fraud</td>
                                                    <td class="govuk-table__cell">Verbally abusive behaviour demonstrated at previous hearing additional security will be required</td>
                                                    <td class="govuk-table__cell">09 Sep 2021</td>
                                                    <td class="govuk-table__cell">09 Sep 2021</td>
                                                    <td class="govuk-table__cell"><strong class="govuk-tag">Active</strong></td>
                                                  </tr>
                                                  <tr class="govuk-table__row">
                                                    <td td class="govuk-table__cell">Complex case</td>
                                                    <td class="govuk-table__cell">Requires senior case worker</td>
                                                    <td class="govuk-table__cell">08 Sep 2021</td>
                                                    <td class="govuk-table__cell">08 Sep 2021</td>
                                                    <td class="govuk-table__cell"><strong class="govuk-tag">Active</strong></td>
                                                  </tr>
                                                </tbody>
                                              </table>

                                            <br>

                                        </div>
                                  </div>

                            <br><br>

                        </div>

                    </main>

                </div>

            </main>

        </div>

    </div>

  </div>

</body>

</html>

{% block footer %}
  {% include "includes/newfooter.html" %}
{% endblock %}      
    