
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <div>
        <h1 class="govuk-heading-xl">Case flags prototype backlog dfgdfgfdg<!-- <span class="govuk-caption-m">Last update: 12 August 2021</span> --> </h1> 
        <p>This page contains the prototypes versioning, updates description and dates for each version for usability testing and stakeholders presentation purposes.</p>
      </div> 

    <br>

   

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

      <!--
      
      <div class="govuk-accordion__section ">

        <div class="govuk-accordion__section-header">

          <table>
            <tr class="govuk-table__row">
              <td><h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-2" style="color: #000;text-decoration: none;">Version 2.0</span> </h2>
              </td>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
              <td><strong class="govuk-tag">LATEST VERSION</strong></td>
            </tr>
          </table>

        </div>

        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2" style="padding-top: 10px;">

          <p class="govuk-body" style="padding-bottom: 10px;">Same than version 1 but with an alternative landing page based on latest team discussions analising version 1 usability testing users feedback.</p>

          <a href="v2/collection" class="govuk-!-font-weight-bold"><button class="govuk-button" data-module="govuk-button">See prototype</button></a>

          <br>

          <span class="govuk-heading-s" style="margin-bottom: 10px;">Version details</span>

          <ul class="govuk-list govuk-list--bullet" style="font-size: 14px">
            <li><span class="govuk-!-font-weight-bold">Last update:</span> 7 September 2021</li>
            <li><span class="govuk-!-font-weight-bold">Users:</span> African exporters</li>
            <li><span class="govuk-!-font-weight-bold">Number of tasks:</span> 1 (hand-off wizard)</li>
            <li><span class="govuk-!-font-weight-bold">Number of pages:</span> 23</li>
          </ul>

          <br>

          <span class="govuk-heading-s" style="margin-bottom: 10px;">Updates from previous version</span>

          <div>
            <span class="govuk-!-font-weight-bold govuk-body-s" style="line-height: 40px;font-size: 14px;">Business requirements:</span>
            <ul class="govuk-list govuk-list--bullet govuk-body-s" style="font-size: 14px">
              <li>Lorum ipsum est</li>
              <li>Colabra sentrum vinculas per momentum</li>
              <li>Romanus senate alperas</li>
            </ul>
            <span class="govuk-!-font-weight-bold govuk-body-s" style="line-height: 40px;font-size: 14px;">GDS assessment:</span>
            <ul class="govuk-list govuk-list--bullet govuk-body-s" style="font-size: 14px">
              <li>Vinculas parodia</li>
              <li>Aliquam est</li>
              <li>Dolore causare sempre et frinja dolore santica mulates</li>
            </ul>
            <span class="govuk-!-font-weight-bold govuk-body-s" style="line-height: 40px;font-size: 14px;">RAD assessment:</span>
            <ul class="govuk-list govuk-list--bullet govuk-body-s" style="font-size: 14px">
              <li>Callum et soposas</li>
              <li>Anbiquas senatus populas colabras</li>
              <li>Radias magnolia vultura</li>
            </ul>
            <span class="govuk-!-font-weight-bold govuk-body-s" style="line-height: 40px;font-size: 14px;">Accesibility assessment:</span>
            <ul class="govuk-list govuk-list--bullet govuk-body-s" style="font-size: 14px">
              <li>Singula tatum</li>
              <li>Caesar dolore et sofocas corporale</li>
              <li>Capris astutas batutas</li>
            </ul>
          </div>

          <br>

        </div>

      </div>

      -->

      <!-- Version 1 -->
      
      <div class="govuk-accordion__section ">

        <div class="govuk-accordion__section-header">

          <table>
            <tr class="govuk-table__row">
              <td><h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-2" style="color: #000;text-decoration: none;">Version 1.0</span> </h2>
              </td>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
              <td><strong class="govuk-tag">LATEST VERSION</strong></td>
            </tr>
          </table>

        </div>

        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2" style="padding-top: 10px;">

          <p class="govuk-body" style="padding-bottom: 10px;">Initial draft of the prototype for usability testing in November.</p>

          <a href="v1/users" class="govuk-!-font-weight-bold"><button class="govuk-button" data-module="govuk-button">See prototype</button></a>

          <br>

          <span class="govuk-heading-s" style="margin-bottom: 10px;">Version details</span>

          <ul class="govuk-list govuk-list--bullet" style="font-size: 14px">
            <li><span class="govuk-!-font-weight-bold">Last update:</span> 13 September 2021</li>
            <li><span class="govuk-!-font-weight-bold">Users:</span> HMCTS staff (internal users)</li>
            <li><span class="govuk-!-font-weight-bold">Number of tasks:</span> 2 (create and view case flag)</li>
            <li><span class="govuk-!-font-weight-bold">Number of pages:</span> 6</li>
          </ul>

          <!--

          <br>

          <span class="govuk-heading-s" style="margin-bottom: 10px;">Updates from previous version</span>

          <div>
            <span class="govuk-!-font-weight-bold govuk-body-s" style="line-height: 40px;font-size: 14px;">Business requirements:</span>
            <ul class="govuk-list govuk-list--bullet govuk-body-s" style="font-size: 14px">
              <li>Lorum ipsum est</li>
              <li>Colabra sentrum vinculas per momentum</li>
              <li>Romanus senate alperas</li>
            </ul>
            <span class="govuk-!-font-weight-bold govuk-body-s" style="line-height: 40px;font-size: 14px;">GDS assessment:</span>
            <ul class="govuk-list govuk-list--bullet govuk-body-s" style="font-size: 14px">
              <li>Vinculas parodia</li>
              <li>Aliquam est</li>
              <li>Dolore causare sempre et frinja dolore santica mulates</li>
            </ul>
            <span class="govuk-!-font-weight-bold govuk-body-s" style="line-height: 40px;font-size: 14px;">RAD assessment:</span>
            <ul class="govuk-list govuk-list--bullet govuk-body-s" style="font-size: 14px">
              <li>Callum et soposas</li>
              <li>Anbiquas senatus populas colabras</li>
              <li>Radias magnolia vultura</li>
            </ul>
            <span class="govuk-!-font-weight-bold govuk-body-s" style="line-height: 40px;font-size: 14px;">Accesibility assessment:</span>
            <ul class="govuk-list govuk-list--bullet govuk-body-s" style="font-size: 14px">
              <li>Singula tatum</li>
              <li>Caesar dolore et sofocas corporale</li>
              <li>Capris astutas batutas</li>
            </ul>
          </div>

          -->

          <br>

        </div>

      </div>

    </div>

  </div>

</div>

<p style="padding: 0 0 2em 0;"></p>

{% endblock %}
