
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <div>
        <h1 class="govuk-heading-xl">Case flags prototype backlog<!-- <span class="govuk-caption-m">Last update: 12 August 2021</span> --> </h1> 
        <p>This page contains the prototypes versioning, updates description and dates for each version for usability testing and stakeholders presentation purposes.</p>
      </div> 

    <br>

   

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

      <!--
      
      <div class="govuk-accordion__section ">

        <div class="govuk-accordion__section-header">

          <table>
            <tr class="govuk-table__row">
              <td><h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-2" style="color: #000;text-decoration: none;">Version 2.0</span> </h2>
              </td>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
              <td><strong class="govuk-tag">LATEST VERSION</strong></td>
            </tr>
          </table>

        </div>

        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2" style="padding-top: 10px;">

          <p class="govuk-body" style="padding-bottom: 10px;">Same than version 1 but with an alternative landing page based on latest team discussions analising version 1 usability testing users feedback.</p>

          <a href="v2/collection" class="govuk-!-font-weight-bold"><button class="govuk-button" data-module="govuk-button">See prototype</button></a>

          <br>

          <span class="govuk-heading-s" style="margin-bottom: 10px;">Version details</span>

          <ul class="govuk-list govuk-list--bullet" style="font-size: 14px">
            <li><span class="govuk-!-font-weight-bold">Last update:</span> 7 September 2021</li>
            <li><span class="govuk-!-font-weight-bold">Users:</span> African exporters</li>
            <li><span class="govuk-!-font-weight-bold">Number of tasks:</span> 1 (hand-off wizard)</li>
            <li><span class="govuk-!-font-weight-bold">Number of pages:</span> 23</li>
          </ul>

          <br>

          <span class="govuk-heading-s" style="margin-bottom: 10px;">Updates from previous version</span>

          <div>
            <span class="govuk-!-font-weight-bold govuk-body-s" style="line-height: 40px;font-size: 14px;">Business requirements:</span>
            <ul class="govuk-list govuk-list--bullet govuk-body-s" style="font-size: 14px">
              <li>Lorum ipsum est</li>
              <li>Colabra sentrum vinculas per momentum</li>
              <li>Romanus senate alperas</li>
            </ul>
            <span class="govuk-!-font-weight-bold govuk-body-s" style="line-height: 40px;font-size: 14px;">GDS assessment:</span>
            <ul class="govuk-list govuk-list--bullet govuk-body-s" style="font-size: 14px">
              <li>Vinculas parodia</li>
              <li>Aliquam est</li>
              <li>Dolore causare sempre et frinja dolore santica mulates</li>
            </ul>
            <span class="govuk-!-font-weight-bold govuk-body-s" style="line-height: 40px;font-size: 14px;">RAD assessment:</span>
            <ul class="govuk-list govuk-list--bullet govuk-body-s" style="font-size: 14px">
              <li>Callum et soposas</li>
              <li>Anbiquas senatus populas colabras</li>
              <li>Radias magnolia vultura</li>
            </ul>
            <span class="govuk-!-font-weight-bold govuk-body-s" style="line-height: 40px;font-size: 14px;">Accesibility assessment:</span>
            <ul class="govuk-list govuk-list--bullet govuk-body-s" style="font-size: 14px">
              <li>Singula tatum</li>
              <li>Caesar dolore et sofocas corporale</li>
              <li>Capris astutas batutas</li>
            </ul>
          </div>

          <br>

        </div>

      </div>

      -->

      <!-- Version 2 -->
      
      <div class="govuk-accordion__section ">

        <div class="govuk-accordion__section-header">

          <table>
            <tr class="govuk-table__row">
              <td><h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-2" style="color: #000;text-decoration: none;">Version 2.0</span> </h2>
              </td>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
              <td><strong class="govuk-tag">LATEST VERSION</strong></td>
            </tr>
          </table>

        </div>

        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2" style="padding-top: 10px;">

          <p class="govuk-body" style="padding-bottom: 10px;">Updated prototype after October usability testing.</p>

          <a href="v2/users" class="govuk-!-font-weight-bold"><button class="govuk-button" data-module="govuk-button">See prototype</button></a>

          <br>

          <span class="govuk-heading-s" style="margin-bottom: 10px;">Version details</span>

          <ul class="govuk-list govuk-list--bullet" style="font-size: 14px">
            <li><span class="govuk-!-font-weight-bold">Last update:</span> 19 October 2021</li>
            <li><span class="govuk-!-font-weight-bold">Users:</span> HMCTS staff (internal users)</li>
            <li><span class="govuk-!-font-weight-bold">Number of tasks: </span>2 (view/create flag and review flag)</li>
            <li><span class="govuk-!-font-weight-bold">Number of pages: </span>60</li>
          </ul>

          <br>

          <span class="govuk-heading-s" style="margin-bottom: 10px;">Updates from previous version</span>

          <div>
            <span class="govuk-!-font-weight-bold govuk-body-s" style="line-height: 40px;font-size: 14px;">Business requirements:</span>
            <ul class="govuk-list govuk-list--bullet govuk-body-s" style="font-size: 14px">
              <li>Redesign the UX in some pages based on Dev limitation</li>
              <li>Update content from content designers</li>
              <li>Divide flag table by party</li>
              <li>Remove 'reasons' page</li>
              <li>Update options in the action dropdown</li>
              <li>Add link to review flag in 'my work' page</li>
              <li>Add new flag in 'my work' page</li>
              <li>Change notification banner content</li>
              <li>Make notification banner more obvious (colour and icon)</li>
              <li>Add link in notification banner to see the flags</li>
              <li>Remove 'importance' column</li>
              <li>Remove addresses</li>
              <li>Re-design options for target page and language page</li>
              <li>Update target and language pages following dev and users recomendations</li>
              <li>Start journey in 'history' page</li>
              <li>Add accordion to the tables</li>
              <li>Remove 'new' from tables</li>
              <li>Update labels in tables</li>
              <li>Include notification banner in histiry page</li>
              <li>Re-order alphabetically the list of flags</li>
              <li>Add 'other' to flags list and collect the description</li>
              <li>Merge flags categories in the review page and tables</li>
              <li>Add 'manage flag' journey to change flag status</li>
              <li>Add 'change case classification' journey for mark as retricted</li>
              <li>Add 'change case classification' journey for mark as private</li>
              <li>Add 'change case classification' journey for mark as public</li>
            </ul>
            <span class="govuk-!-font-weight-bold govuk-body-s" style="line-height: 40px;font-size: 14px;">Usability testing:</span>
            <ul class="govuk-list govuk-list--bullet govuk-body-s" style="font-size: 14px">
              <li>Update the content in flag tables</li>
              <li>Add creation/modification dates</li>
              <li>Add importance column</li>
              <li>Add number of active flags in notification banner</li>
              <li>Order flags in tables from newest to oldest</li>
              <li>Add action to see active flags</li>
              <li>Add dates for flags creation</li>
              <li>Remove 'importance' column</li>
              <li>Bring much details as possible for each flag</li>
            </ul>
            <span class="govuk-!-font-weight-bold govuk-body-s" style="line-height: 40px;font-size: 14px;">GDS assessment:</span>
            <ul class="govuk-list govuk-list--bullet govuk-body-s" style="font-size: 14px">
              <li>N/A</li>
            </ul>
            <span class="govuk-!-font-weight-bold govuk-body-s" style="line-height: 40px;font-size: 14px;">RAD assessment:</span>
            <ul class="govuk-list govuk-list--bullet govuk-body-s" style="font-size: 14px">
              <li>N/A</li>
            </ul>
            <span class="govuk-!-font-weight-bold govuk-body-s" style="line-height: 40px;font-size: 14px;">Accesibility assessment:</span>
            <ul class="govuk-list govuk-list--bullet govuk-body-s" style="font-size: 14px">
              <li>N/A</li>
            </ul>
          </div>


          <br>

        </div>

      </div>

      <!-- Version 1 -->
      
      <div class="govuk-accordion__section ">

        <div class="govuk-accordion__section-header">

          <table>
            <tr class="govuk-table__row">
              <td><h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-2" style="color: #000;text-decoration: none;">Version 1.0</span> </h2>
              </td>
            </tr>
          </table>

        </div>

        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2" style="padding-top: 10px;">

          <p class="govuk-body" style="padding-bottom: 10px;">Initial draft of the prototype for usability testing in October.</p>

          <a href="v1/users" class="govuk-!-font-weight-bold"><button class="govuk-button" data-module="govuk-button">See prototype</button></a>

          <br>

          <span class="govuk-heading-s" style="margin-bottom: 10px;">Version details</span>

          <ul class="govuk-list govuk-list--bullet" style="font-size: 14px">
            <li><span class="govuk-!-font-weight-bold">Last update:</span> 8 October 2021</li>
            <li><span class="govuk-!-font-weight-bold">Users:</span> HMCTS staff (internal users)</li>
            <li><span class="govuk-!-font-weight-bold">Number of tasks: </span>2 (view/create flag and review flag)</li>
            <li><span class="govuk-!-font-weight-bold">Number of pages: </span>37</li>
          </ul>

          <!--

          <br>

          <span class="govuk-heading-s" style="margin-bottom: 10px;">Updates from previous version</span>

          <div>
            <span class="govuk-!-font-weight-bold govuk-body-s" style="line-height: 40px;font-size: 14px;">Business requirements:</span>
            <ul class="govuk-list govuk-list--bullet govuk-body-s" style="font-size: 14px">
              <li>Lorum ipsum est</li>
              <li>Colabra sentrum vinculas per momentum</li>
              <li>Romanus senate alperas</li>
            </ul>
            <span class="govuk-!-font-weight-bold govuk-body-s" style="line-height: 40px;font-size: 14px;">GDS assessment:</span>
            <ul class="govuk-list govuk-list--bullet govuk-body-s" style="font-size: 14px">
              <li>Vinculas parodia</li>
              <li>Aliquam est</li>
              <li>Dolore causare sempre et frinja dolore santica mulates</li>
            </ul>
            <span class="govuk-!-font-weight-bold govuk-body-s" style="line-height: 40px;font-size: 14px;">RAD assessment:</span>
            <ul class="govuk-list govuk-list--bullet govuk-body-s" style="font-size: 14px">
              <li>Callum et soposas</li>
              <li>Anbiquas senatus populas colabras</li>
              <li>Radias magnolia vultura</li>
            </ul>
            <span class="govuk-!-font-weight-bold govuk-body-s" style="line-height: 40px;font-size: 14px;">Accesibility assessment:</span>
            <ul class="govuk-list govuk-list--bullet govuk-body-s" style="font-size: 14px">
              <li>Singula tatum</li>
              <li>Caesar dolore et sofocas corporale</li>
              <li>Capris astutas batutas</li>
            </ul>
          </div>

          -->

          <br>

        </div>

      </div>

    </div>

  </div>

</div>

<p style="padding: 0 0 2em 0;"></p>

{% endblock %}
